*{
    list-style: none;
}

.data-view {
    width: 100%;
    height: 100%;
    background-color: #030409;
    color: #fff;
    overflow: auto;
    overflow-x: hidden;
  }
  
  .data-view .dv-full-screen-container {
    background-image: url('../../img/bg.png');
    background-size: 100% 100%;
    box-shadow: 0 0 3px blue;
    display: flex;
    flex-direction: column;
    position: relative !important;
  }

.page{
    padding:0 15px;
}
.title{
    font-size: 36px;
    text-align: center;
    padding:20px 0 15px;
    font-weight: normal;
    letter-spacing: 2px;
}
.echartItems{
    display: flex;
    justify-content:space-around;
}

.echartItems > .f-echart {
    flex-grow:1;
    margin:5px 10px;
    width:50%;
}
.echartItems > .f-echart > div{
    height:32px;
    line-height: 32px;
}
.echartItems > .f-echart >div a {
    margin-right:35px;
    font-size: 16px;
    cursor: pointer;
}

.echartItems > .f-echart >div a.active,.l-container p a.active, .r-container p a.active{
    color:#66ff66;
}

.l-echart > ul .main{
    margin-left:6%;
}
.l-echart > div{
   padding-left:17% !important;
}

.f-echart > div{
    padding-left:15px;
    padding-right:10px;
}
.f-echart > ul{
    height:390px;
}
.echartItems > ul{
    display: flex;
    justify-content:space-around;
    flex-grow:1;
}

.echartItem{
    flex-grow:1;
}
.eName{
    height:30px;
    line-height: 30px;
    padding-left:15px;
    padding-right:10px;
    position: relative;
    font-size: 14px;
}
.dataTale{
 margin-top:50px;
}

.dataTale::after{
    display: block;
    clear: both;
    content:'';
    height:0.1px;
}


.l-container, .r-container{
    float: left;
    width:50%;
}
.l-container > div > div,.r-container > div > div{
    margin: 5px auto;
    height: 100%;
    width: 76%;
}
.l-table,.r-table{
    width: 100%;
    table-layout: fixed;
}
.l-table thead tr,.r-table thead tr{
    background-color: #00A0e9;
    height:36px;
}
.l-table thead tr th,.r-table thead tr th{
    color:#fff;
    font-size: 16px;
}

.l-table tbody tr td,.r-table tbody tr td{
    height:24px;
    line-height: 24px;
    padding:6px 10px;
    font-size: 14px;
}
.l-table tbody tr:nth-child(odd),.r-table tbody tr:nth-child(odd){
    background-color: #f1fafe;
    
}
.l-table tbody tr:nth-child(even),.r-table tbody tr:nth-child(even){
    background-color: #EBf3ff;
}

.l-container p ,.r-container p{
    height:40px;
    line-height: 40px;
    padding: 10px 172px;
}
.l-container p a ,.r-container p a{
    font-size: 16px;
    margin-right:25px;
    cursor: pointer;
}

.main{
    width:90%;
    height:380px;
}

.box {
    width: 100%;
}

.grid {
    height: 430px;
    display: flex;
    flex-direction: column;
}

.grid {
    padding: 1rem 1.5rem;
    box-sizing: border-box;
}

.grid>div {
    background-color: transparent;
}

.grid>div th {
    background-color: #00BAFF;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}
.grid>div td:nth-child(1){
    text-align: left;
}
.grid>div td:nth-child(n + 2){
    text-align: right;
}
.grid>div td {
    border: 0;
    line-height: 1rem;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 12px;
}

.grid>div th::before, .grid>div td::before {
    width: 0!important;
}

.grid>div tbody>tr:nth-child(2n) {
    background-color: #003B51;
    height:1.8rem;
}

.grid>div tbody>tr:nth-child(2n+1) {
    background-color: #0A2732;
    height:1.8rem;
}
