.mc {
    color: #333;
    line-height: 1em;
    font-weight: 400;
    height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.mcLink, .mcLink1, .FrmSpectaculars3MCBar1, .mcBar2, .rightSiteEchat1BoxPie1, .FrmSpectaculars3MCPie2 {
    height: 100%;
}

@media screen and (min-width: 768px) {
    .mc {
        background-color: #fff;
    }

    .mcMain {
        padding: 10px 20px 16px 20px;
        height: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .mcIntroduction {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 16px;
        height: 30px;
        padding: 0 16px;
        position: relative;
    }

    .mcIntroduction::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 720px;
        height: 100%;
        background-image: url('../assets/img/kanban_header_bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .mcIntroduction>.corpName {
        display: flex;
        align-items: flex-start;
        height: 100%;
        font-size: 14px;
        background-image: url('../assets/img/kanban_header_line.png');
        background-repeat: repeat;
        width: calc((100% - 720px) / 2);
    }

    .mcIntroduction>.corpName>img {
        width: 16px;
        margin-right: 4px;
    }

    .btn_toggle_pc {
        background-image: url("../assets/img/pc.png");
    }

    .btn_toggle_pc:hover {
        background-image: url("../assets/img/pc_hover.png");
    }

    .btn_toggle_kanban {
        background-image: url("../assets/img/kanban.png");
    }

    .btn_toggle_kanban:hover {
        background-image: url("../assets/img/kanban_hover.png");
    }

    .mcIntroduction>span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: bold;
    }

    .mcIntroduction>.toggleIcons {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        background-image: url('../assets/img/kanban_header_line.png');
        background-repeat: repeat;
        height: 100%;
        width: calc((100% - 720px) / 2);
    }

    .mcIntroduction>.toggleIcons>a {
        width: 16px;
        height: 16px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .top {
        display: flex;
    }

    .top>div {
        width: 0;
        flex: 1;
        line-height: 1em;
        padding: 16px;
    }

    .top>div:nth-child(n+2) {
        margin-left: 10px;
    }

    .top>div>h3 {
        font-size: 16px;
        font-weight: bold;
    }

    .top>div>ul {
        padding-top: 20px;
        display: flex;
    }

    .top>div>ul>li {
        width: 0;
        flex: 1;
    }

    .top>div>ul>li>p:first-child {
        font-size: 14px;
        color: #666666;
    }

    .top>div>ul>li>p:nth-child(2) {
        padding-top: 8px;
        display: flex;
        align-items: center;
    }

    .top>div>ul>li>p:nth-child(2)>span:first-child {
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
    }

    .top>div>ul>li>p:nth-child(2)>span:nth-child(2) {
        margin-left: 4px;
        font-size: 14px;
        color: #666666;
    }

    .border {
        border: 1px solid #E6E6E6;
        border-radius: .625rem;
    }

    .echarts {
        height: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .echarts>ul {
        display: flex;
        margin-top: 10px;
    }

    .echarts>ul>li:first-child {
        width: 0;
        flex: 1;
        height: 100%;
    }

    .echarts>ul>li:nth-child(2) {
        width: 0;
        flex: 2;
        height: 100%;
        margin-left: 10px;
        overflow: hidden;
    }

    .echarts>ul>li:nth-child(3) {
        width: 0;
        flex: 1;
        height: 100%;
        margin-left: 10px;
    }
    
    .echarts>ul:first-child>li:nth-child(3) {
        padding: 0;
    }
    
    .echarts>ul:first-child>li:nth-child(3)>div {
        height: 0;
        flex: 1;
        padding: 16px;
    }
    
    .echarts>ul:first-child>li:nth-child(3)>div:first-child {
        font-size: 16px;
        color: #333;
        font-weight: bold;
    }
    
    .echarts>ul:first-child>li:nth-child(3)>div:nth-child(2) {
        margin-top: 10px;
    }

    .echarts>ul:first-child {
        flex: 2;
    }

    .echarts>ul:nth-child(2) {
        flex: 1;
    }

    .echarts>ul>li {
        display: flex;
        flex-direction: column;
    }

    .echarts>ul>li>div {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .echarts>ul:first-child>li:nth-child(2)>div {
        padding: 0;
    }

    .echarts>ul>li>div>div:first-child {
        font-size: 16px;
        color: #333;
        font-weight: bold;
    }

    .echarts>ul>li>div>div:nth-child(2) {
        height: 0;
        flex: 1;
    }

    .mcMap {
        height: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
    .top>div>h3 {
        font-size: 14px;
    }

    .echarts>ul>li>div>div:first-child {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .mc {
        height: 100%;
        overflow: auto;
    }

    .mcIntroduction {
        background-color: #fff;
        height: 2.5rem;
        line-height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        position: relative;
    }

    .mcIntroduction>.corpName {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #404D66;
    }

    .mcIntroduction>.corpName>img {
        width: 1rem;
    }

    .mcIntroduction>.corpName>span {
        margin-left: .125rem;
    }

    .top>div {
        margin: .75rem .75rem 0 .75rem;
        background-color: #fff;
        border-radius: .25rem;
        padding: 1rem 1rem 1rem 1.5rem;
        line-height: 1em;
    }

    .top>div>h3 {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        position: relative;
    }

    .top>div>h3::before {
        content: '';
        position: absolute;
        left: -.75rem;
        width: .25rem;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #578DF9;
    }

    .top>div>ul {
        display: flex;
        flex-wrap: wrap;
    }

    .top>div>ul>li {
        width: 50%;
        position: relative;
        padding-top: 1rem;
        padding-bottom: .5rem;
    }

    .top>div>ul>li:nth-child(2n) {
        padding-left: 1.5rem;
        box-sizing: border-box;
    }

    .top>div>ul>li:nth-child(2n)::before {
        content: '';
        position: absolute;
        left: 0;
        width: 1px;
        top: 1rem;
        bottom: .5rem;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, .1);
    }

    .top>div>ul>li>p:first-child {
        font-size: 14px;
        color: #666666;
    }

    .top>div>ul>li>p:nth-child(2) {
        padding-top: .5rem;
        display: flex;
        align-items: center;
    }

    .top>div>ul>li>p:nth-child(2)>span:first-child {
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
    }

    .top>div>ul>li>p:nth-child(2)>span:nth-child(2) {
        margin-left: .25rempx;
        font-size: 14px;
        color: #666666;
    }

    .echarts li>div {
        margin: .75rem .75rem 0 .75rem;
        background-color: #fff;
        border-radius: .25rem;
        padding: 1rem 1rem 1rem 1.5rem;
    }

    .echartsLine2>li:last-child {
        margin-bottom: .75rem;
    }

    .mcTitle {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        position: relative;
    }

    .mcTitle::before {
        content: '';
        position: absolute;
        left: -.75rem;
        width: .25rem;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #578DF9;
    }

    .mcTitle+div {
        height: 10rem;
    }
}