.FrmTaurusMCPie1,
.FrmTaurusMCPie2,
.FrmTaurusMCPie3,
.mcLink,
.mcLink2,
.rightBox1Pie1 {
    color: #333;
}

.topTitle {
    font-size: 14px;
    color: #666666;
}

.colorSkin {
    font-size: 14px;
    color: #308DF2;
    font-weight: 400;
}

.rSkin {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #308DF2;
    transform: translateY(-1px);
    margin-right: 5px;
}

@media screen and (min-width: 768px) {
    .mc {
        color: #333;
        line-height: 1em;
        font-weight: 400;
        height: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
        background-color: #fff;
    }

    .centerBox2 {
        background-color: #fff;
        border-radius: .28rem;
        padding: 16px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    .mcMain {
        padding: 10px 20px 16px 20px;
        height: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 0;
    }

    .mcTitle {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        line-height: 16px;
        position: relative;
    }

    .topBox {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .FrmTaurusMCPie1,
    .FrmTaurusMCPie2,
    .FrmTaurusMCPie3 {
        flex: 1;
        height: 100%;
    }

    .leftBox1,
    .leftBox2,
    .leftBox3 {
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        padding: 16px 20px;
        position: relative;
        height: calc((100% - 20px) / 3);
        margin-bottom: 10px;
    }

    .leftBox1 .mcTitle,
    .leftBox2 .mcTitle,
    .leftBox3 .mcTitle {
        position: absolute;
        top: 16px;
        left: 20px;
    }

    .leftBox3 {
        margin-bottom: 0;
    }

    .mcLink2 {
        flex: 1;
        height: calc(100% - 16px);
    }

    .rightBox1Pie1 {
        height: 100%;
    }

    .contentEcharts {
        display: flex;
        height: 0;
        flex: 1;
    }

    .rightBox1,
    .rightBox2 {
        flex: 1;
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        padding: 16px 20px;
        height: calc(50% - 5px);
        position: relative;
    }

    .rightBox1 {
        margin-bottom: 10px;
    }

    .leftSiteEcharts,
    .rIghtSiteEcharts {
        width: 20%;
        display: flex;
        flex-direction: column;
        min-width: 258px;
    }

    .centerBox2 {
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 33.3%;
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        position: relative;
    }


    .srcollListContent {
        margin-bottom: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        height: calc(100% - 16px);
    }

    .centerSiteEcharts {
        width: 60%;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        min-width: 500px;
    }

    .centerBox1 {
        margin-bottom: 10px;
        height: calc(100% - 33.3% + 10px);
        box-sizing: border-box;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
    }

    .mcMap {
        position: relative;
        height: 100%;
        border-radius: 10px;
    }

    .mcMap>img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .leftBox3,
    .rightBox3 {
        margin-bottom: 0;
    }

    .srcollListMain {
        margin: 10px 0 0;
    }

    .srcollListMain>li {
        height: 14px;
        line-height: 14px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .srcollListMain>li:last-child {
        margin-bottom: 0;
    }

    .leftScrollList {
        margin: 10px 0 0;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .leftScrollListItem {
        display: flex;
        align-items: center;
        height: 26px;
        background: #EFF6FE;
        line-height: 26px;
        margin-bottom: 6px;
    }

    .FrmTaurusMCPie3,
    .mcLink {
        flex: 1;
    }

    .colorSkin {
        font-size: 14px;
        color: #308DF2;
        font-weight: 400;
    }

    .rSkin {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #308DF2;
        transform: translateY(-1px);
        margin-right: 4px;
    }

    .mcMainNoPB {
        padding-bottom: 0;
    }

    .top_list {
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        display: flex;
        flex-direction: column;
        padding: 16px 20px;
        box-sizing: border-box;
        background-color: #fff;
        margin-right: 10px;
    }

    .top_list,
    .toprightEacharBox {
        flex: 1;
        width: calc(50% - 5px);
        min-height: 114px;
        height: 114px;
    }

    .top_list>p {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        flex: 1;
    }

    .top_list>ul {
        display: flex;
        justify-content: flex-start;
    }

    .top_list>ul>.li_3 {
        width: 142px;
        display: flex;
        flex-direction: column;
    }

    .topTitle {
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        margin-bottom: 12px;
    }

    .topInfo {
        font-size: 20px;
        font-weight: bold;
        color: #333333;
    }

    .topInfo>span {
        font-size: 14px;
        font-weight: 400;
        color: #666666;
    }

    .toprightEacharBox {
        display: flex;
    }

    .topBox1 {
        width: 100%;
        border-radius: 10px;
        background-color: #fff;
        padding: 16px 20px 12px;
        margin-left: 10px;
        box-sizing: border-box;
        border: 1px solid #e6e6e6;
        height: 100%;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .mcIntroduction {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 16px;
        height: 30px;
        padding: 0 16px;
        position: relative;
    }

    .mcIntroduction::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 720px;
        height: 100%;
        background-image: url('../assets/img/kanban_header_bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .mcIntroduction>.corpName {
        display: flex;
        align-items: flex-start;
        height: 100%;
        font-size: 14px;
        background-image: url('../assets/img/kanban_header_line.png');
        background-repeat: repeat;
        width: calc((100% - 720px) / 2);
    }

    .mcIntroduction>.corpName>img {
        width: 16px;
        margin-right: 4px;
    }

    .btn_toggle_pc {
        background-image: url("../assets/img/pc.png");
    }

    .btn_toggle_pc:hover {
        background-image: url("../assets/img/pc_hover.png");
    }

    .btn_toggle_kanban {
        background-image: url("../assets/img/kanban.png");
    }

    .btn_toggle_kanban:hover {
        background-image: url("../assets/img/kanban_hover.png");
    }

    .mcIntroduction>span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: bold;
    }

    .mcIntroduction>.toggleIcons {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        background-image: url('../assets/img/kanban_header_line.png');
        background-repeat: repeat;
        height: 100%;
        width: calc((100% - 720px) / 2);
    }

    .mcIntroduction>.toggleIcons>a {
        width: 16px;
        height: 16px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

}

@media screen and (min-width: 768px) and (max-width: 1366px) {}

@media screen and (max-width: 767px) {

    .mc {
        height: 100%;
        overflow: auto;
    }

    .mcIntroduction {
        background-color: #fff;
        height: 2.5rem;
        line-height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        position: relative;
    }

    .mcIntroduction>.corpName {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #404D66;
    }

    .mcIntroduction>.corpName>img {
        width: 1rem;
    }

    .mcIntroduction>.corpName>span {
        margin-left: .125rem;
    }

    .topBox>div {
        margin: .75rem .75rem 0 .75rem;
        background-color: #fff;
        border-radius: .25rem;
        padding: 1rem 1rem 1rem 1.5rem;
        line-height: 1em;
    }

    .topBox>div>p {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        position: relative;
    }

    .topBox>div>p::before {
        content: '';
        position: absolute;
        left: -.75rem;
        width: .25rem;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #578DF9;
    }

    .topBox>div>ul {
        display: flex;
        flex-wrap: wrap;
    }

    .topBox>div>ul>li {
        width: 50%;
        position: relative;
        padding-top: 1rem;
        padding-bottom: .5rem;
    }

    .topBox>div>ul>li:nth-child(2n) {
        padding-left: 1.5rem;
        box-sizing: border-box;
    }

    .topBox>div>ul>li:nth-child(2n)::before {
        content: '';
        position: absolute;
        left: 0;
        width: 1px;
        top: 1rem;
        bottom: .5rem;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, .1);
    }

    .totopBox>div>ul>li>div:first-child {
        font-size: 14px;
        color: #666666;
    }

    .topBox>div>ul>li>div:nth-child(2) {
        padding-top: .5rem;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
    }

    .topBox>div>ul>li>div:nth-child(2)>span:nth-child(2) {
        margin-left: .25rempx;
        font-size: 14px;
        font-weight: 400;
        color: #666666;
    }

    .contentEcharts>div>div {
        margin: .75rem .75rem 0 .75rem;
        background-color: #fff;
        border-radius: .25rem;
        padding: 1rem 1rem 1rem 1.5rem;
    }

    .contentEcharts>div>div.rightBox2 {
        margin-bottom: 0.75rem;
    }

    .mcTitle {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        position: relative;
    }

    .mcTitle::before {
        content: '';
        position: absolute;
        left: -.75rem;
        width: .25rem;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #578DF9;
    }

    .mcTitle+div {
        height: 10rem;
    }
}