#fullContent {
    min-height: 100% !important;
}

.mc {
    font-size: 14px;
    color: #333;
    line-height: 1em;
    font-weight: 400;
    height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.mcIntroduction,
.leftBox1,
.leftBox2,
.leftBox3,
.centerBox1,
.centerBox2,
.rightBox1,
.rightBox2,
.rightBox3 {
    background-color: #fff;
    border-radius: .28rem;
    padding: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.mcIntroduction>p {
    height: 52px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    position: relative;
}

.mcIntroduction>p>span {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.mcIntroduction>p>img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    left: 0;
}

.mcMain {
    flex: 1;
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    height: 0;
}

.top_list {
    display: flex;
    align-items: center;
}

.mcTitle {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    line-height: 14px;
}

.li_3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 48px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 12px;
}

.li_3:last-child {
    margin-right: 0;
    border: none;
}

.li_3>div {
    margin-right: 12px;
}

.topTitle {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 12px;
}

.topInfo {
    font-size: 22px;
    font-weight: bold;
    color: #333333;
}

.topInfo>span {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}

.contentEcharts {
    display: flex;
    flex: 1;
}

.leftSiteEcharts,
.rIghtSiteEcharts {
    width: 20%;
    display: flex;
    flex-direction: column;
    min-width: 264px;
}

.leftBox1,
.leftBox2,
.leftBox3,
.rightBox3,
.centerBox2,
.rightBox1,
.rightBox2 {
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 33.3%;
}


.srcollListContent {
    margin-bottom: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.centerSiteEcharts {
    width: 60%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.centerBox1 {
    margin-bottom: 10px;
    height: calc(100% - 33.3% + 10px);
    padding: 0;
}

.mcMap {
    position: relative;
    height: 100%;
}

.mcMap>img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leftBox3,
.centerBox2,
.rightBox3 {
    margin-bottom: 0;
}

.rightBox3 {
    overflow: auto;
}

.srcollListMain {
    margin: 10px 0 0;
}

.srcollListMain>li {
    height: 19px;
    line-height: 19px;
    margin-bottom: 8px;
}

.srcollListMain>li:last-child {
    margin-bottom: 0;
}

.leftScrollList {
    margin: 10px 0 0;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.leftScrollListItem {
    display: flex;
    align-items: center;
    height: 26px;
    background: #EFF6FE;
    line-height: 26px;
    margin-bottom: 6px;
}

.FrmTaurusMCPie1,
.FrmTaurusMCPie2,
.FrmTaurusMCPie3,
.mcLink,
.mcLink2,
.rightBox1Pie1 {
    flex: 1;
}

.colorSkin {
    font-size: 14px;
    color: #308DF2;
    font-weight: 400;
}

.rSkin {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #308DF2;
    transform: translateY(-1px);
    margin-right: 5px;
}

.mcIntroduction {
    margin-bottom: 10px;
    padding: 0;
    height: 125px;
    min-height:125px;
}

.btn_toggle_pc,
.btn_toggle_kanban {
    position: absolute;
    right: 1rem;
    top: 8px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.btn_toggle_pc {
    background: url("../assets/img/pc.png") top center no-repeat;
    background-size: contain;
}

.btn_toggle_pc:hover {
    background: url("../assets/img/pc_hover.png") top center no-repeat;
    background-size: contain;
}

.btn_toggle_kanban {
    background: url("../assets/img/kanban.png") top center no-repeat;
    background-size: contain;
}

.btn_toggle_kanban:hover {
    background: url("../assets/img/kanban_hover.png") top center no-repeat;
    background-size: contain;
}

.mcMainNoPB {
    padding-bottom: 0;
}

.corpName {
    position: absolute;
    left: 12px;
    top: 8px;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.corpName > img{
    margin-right: 5px;
    width: 18px;
    height: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1366px) {

    .mcPieChart {
        margin-top: 10px;
    }
    .mcMain {
        min-height:490px;
    }
}

@media screen and (max-width: 767px) {
    .mc {
        overflow: inherit;
    }

    .mcMain {
        margin-left: 12px;
        margin-right: 12px;
    }

    .mcIntroduction {
        height: auto;
        background: transparent;
    }

    .mcIntroduction>p {
        background-color: #fff;
    }

    .mcIntroduction>div {
        margin: 0 12px 0 12px;
    }

    .mcIntroduction>p>span {
        bottom: 20px;
    }

    .mcIntroduction>p>img {
        bottom: 5px;
        height: 10px;
    }

    .mcIntroduction>p>a {
        display: none;
    }

    .top_list {
        align-items: stretch;
        flex-direction: column;
    }

    .li_3 {
        border-radius: 0.28rem;
        background-color: #fff;
        flex: auto;
        margin-right: 0;
        height: 78px;
        border: none;
        justify-content: flex-start;
        padding: 0 16px;
    }

    .topTitle {
        margin-bottom: 0;
    }

    .li_3>div {
        line-height: 1.2;
    }

    .contentEcharts {
        flex-direction: column;
    }

    .leftSiteEcharts,
    .rIghtSiteEcharts {
        width: 100%;
    }

    .leftBox1,
    .leftBox2,
    .leftBox3,
    .rightBox1,
    .centerBox2 {
        height: 160px;
    }

    .rightBox2 {
        height: 208px;
    }

    .rightBox3 {
        height: 132px;
    }

    .FrmTaurusMCPie1,
    .FrmTaurusMCPie2,
    .FrmTaurusMCPie3,
    .mcLink {
        height: 130px;
    }

    .mcLink2 {
        height: 180px;
    }

    .srcollListMain>li {
        height: 19px;
        line-height: 19px;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .rSkin {
        transform: inherit;
    }

    .srcollListMain {
        margin: 12px 0 0;
    }

    .centerSiteEcharts {
        display: none;
    }

    .topInfo {
        margin-top: 4px;
        height: 29px;
        line-height: 29px;
    }

    .leftSiteEcharts {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .leftBox1,
    .leftBox2 {
        width: calc(50% - 5px);
    }

    .leftBox1 {
        margin-right: 10px;
    }

    .leftBox3,
    .rightBox2 {
        width: 100%;
    }

    .leftBox3 {
        margin-bottom: 10px;
    }

    .rightBox3 {
        margin-bottom: 10px;
    }
}