.mc {
    font-size: 14px;
    color: #333;
    line-height: 1em;
    font-weight: 400;
    height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: #fff;
    padding: 0 16px;
    box-sizing: border-box;
}

.mcIntroduction,
.centerBox2 {
    background-color: #fff;
    border-radius: .28rem;
    padding: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.mcIntroduction>p {
    height: 52px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    position: relative;
}

.mcIntroduction>p>span {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
}

.mcIntroduction>p>img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    left: 0;
}

.mcMain {
    flex: 1;
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    height: 0;
}

.mcTitle {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    line-height: 16px;
}

.topBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.top_list {
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    box-sizing: border-box;
    background-color: #fff;
    margin-right: 10px;
}

.top_list,
.toprightEacharBox {
    flex: 1;
    width: calc(50% - 5px);
    min-height: 114px;
    height: 114px;
}

.top_list>p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    flex: 1;
}

.top_list>ul {
    display: flex;
    justify-content: flex-start;
}

.top_list>ul>.li_3 {
    width: 142px;
    display: flex;
    flex-direction: column;
}

.topTitle {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 12px;
}

.topInfo {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.topInfo>span {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}

.toprightEacharBox {
    display: flex;
}

.topBox1 {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding: 16px 20px 12px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    position: relative;
}

.FrmTaurusMCPie1,
.FrmTaurusMCPie2,
.FrmTaurusMCPie3 {
    flex: 1;
    height: calc(100% - 16px);
}


.leftBox1,
.leftBox2,
.leftBox3 {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 16px 20px;
    position: relative;
    height: calc((100% - 20px) / 3);
    margin-bottom: 10px;
}

.leftBox3 {
    margin-bottom: 0;
}

.mcLink2 {
    flex: 1;
    height: calc(100% - 16px);
}

.rightBox1Pie1 {
    height: 100%;
}

.contentEcharts {
    display: flex;
    flex: 1;
    height: 100%;
}

.rightBox1,
.rightBox2 {
    flex: 1;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 16px 20px;
    height: calc(50% - 5px);
    position: relative;
}

.rightBox1 {
    margin-bottom: 10px;
}

.leftSiteEcharts,
.rIghtSiteEcharts {
    width: 20%;
    display: flex;
    flex-direction: column;
    min-width: 258px;
}

.centerBox2 {
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 33.3%;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    position: relative;
}


.srcollListContent {
    margin-bottom: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100% - 16px);
}

.centerSiteEcharts {
    width: 60%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.centerBox1 {
    margin-bottom: 10px;
    height: calc(100% - 33.3% + 10px);
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.mcMap {
    position: relative;
    height: 100%;
    border-radius: 10px;
}

.mcMap>img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leftBox3,
.centerBox2,
.rightBox3 {
    margin-bottom: 0;
}

.rightBox3 {
    overflow: auto;
}

.srcollListMain {
    margin: 10px 0 0;
}

.srcollListMain>li {
    height: 14px;
    line-height: 14px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.srcollListMain>li:last-child {
    margin-bottom: 0;
}

.leftScrollList {
    margin: 10px 0 0;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.leftScrollListItem {
    display: flex;
    align-items: center;
    height: 26px;
    background: #EFF6FE;
    line-height: 26px;
    margin-bottom: 6px;
}

.FrmTaurusMCPie3,
.mcLink {
    flex: 1;
}

.colorSkin {
    font-size: 14px;
    color: #308DF2;
    font-weight: 400;
}

.rSkin {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #308DF2;
    transform: translateY(-1px);
    margin-right: 5px;
}

.mcIntroduction {
    margin-bottom: 10px;
    padding: 0;
    height: 52px;
    min-height: 52px;
}

.btn_toggle_pc,
.btn_toggle_kanban {
    position: absolute;
    right: 1rem;
    bottom: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.btn_toggle_pc {
    background: url("../assets/img/pc.png") top center no-repeat;
}

.btn_toggle_pc:hover {
    background: url("../assets/img/pc_hover.png") top center no-repeat;
}

.btn_toggle_kanban {
    background: url("../assets/img/kanban.png") top center no-repeat;
}

.btn_toggle_kanban:hover {
    background: url("../assets/img/kanban_hover.png") top center no-repeat;
}

.mcMainNoPB {
    padding-bottom: 0;
}

.corpName {
    position: absolute;
    left: 12px;
    bottom: 16px;
    color: #333;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.corpName>img {
    margin-right: 5px;
    width: 16px;
    height: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1366px) {

    .mcPieChart {
        margin-top: 10px;
    }

    .mcMain {
        min-height: 438px;
    }
}

@media screen and (max-width: 767px) {
    .mc {
        overflow: inherit;
        height: 100%;
        background-color: transparent;
    }

    .mcIntroduction {
        height: auto;
        background: transparent;
    }

    .mcIntroduction>p {
        background-color: #fff;
    }

    .mcIntroduction>div {
        margin: 0 12px 0 12px;
    }

    .mcIntroduction>p>span {
        bottom: 20px;
    }

    .mcIntroduction>p>img {
        bottom: 5px;
        height: 10px;
    }

    .mcIntroduction>p>a {
        display: none;
    }


    .contentEcharts {
        flex-direction: column;
    }

    .leftSiteEcharts,
    .rIghtSiteEcharts {
        width: 100%;
    }

    .leftBox3,
    .centerBox2 {
        height: 160px;
    }

    .rightBox2 {
        height: 208px;
    }

    .rightBox3 {
        height: 132px;
    }

    .FrmTaurusMCPie3,
    .mcLink {
        height: 130px;
    }

    .mcLink2 {
        /* height: 144px; */
    }

    .srcollListMain>li {
        height: 19px;
        line-height: 19px;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .rSkin {
        transform: inherit;
    }

    .srcollListMain {
        margin: 12px 0 0;
    }

    .centerSiteEcharts {
        display: none;
    }

    .topInfo {
        margin-top: 4px;
        height: 29px;
        line-height: 29px;
    }

    .leftSiteEcharts {
        flex-direction: row;
        flex-wrap: wrap;
    }


    /* /////////////////////////  */

    .topBox {
        flex-direction: column;
    }

    .top_list,
    .toprightEacharBox {
        flex: 1;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .top_list {
        height: 180px;
        margin-bottom: 10px;
    }

    .toprightEacharBox {
        height: 144px;
    }

    .topBox1 {
        margin-left: 0;
    }

    .leftBox1,
    .leftBox2,
    .leftBox3,
    .rightBox1,
    .rightBox2 {
        width: 100%;
        margin-bottom: 10px;
        height: 186px;
        min-height: 186px;
    }

    .rightBox1 {
        height: 196px;
        min-height: 196px;
    }

    .rightBox2 {
        height: 216px;
        min-height: 216px;
    }
}