.aui-base-main {
    background-color: #3273F4;
    padding: 0 .25rem .25rem .25rem;
    box-sizing: border-box;
    position: absolute;
    border-radius: .29rem;
    display: flex;
    flex-direction: column;
}

.aui-base-title {
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: 2.5rem;
    display: flex;
    align-items: center;
    cursor: all-scroll;
}

.aui-base-close {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: .5rem;
}

.aui-base-content {
    height: 0;
    flex: 1;
    background-color: #fff;
    overflow: auto;
    position: relative;
}

.aui-base-load {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.aui-base-load img {
    width: 2rem;
}

.aui-base-load span {
    color: red;
}

.aui-base-showDialog {
    cursor: pointer;
    margin-left: .5rem;
    width: 1rem;
}

.aui-block-block {
    background-color: #fff;
}

.aui-block-row {
    border-top: 1px solid #8c8c8c;
    padding: .5rem .25rem;
    margin: 0 .5rem;
    font-size: 1rem;
    line-height: 1.35rem;
    text-align: left;
}

.aui-block-block .aui-block-row:first-child {
    border-top: 0;
}

.aui-block-childRow {
    display: none;
    border-top: initial;
    padding-top: 0;
}

.aui-block-more {
    text-align: center;
}
.aui-form-main {
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
    margin-right: 1.5rem;
}
.aui-form-main>label {
    min-width: 5em;
    max-width: 7em;
    text-align: left;
}

.aui-form-main>input {
    height: 1.68rem;
    border-radius: .12rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #C2CAD8;
    padding-left: .6rem;
}

.aui-form-main>input:hover {
    border: 1px solid #058FCA;
}

.aui-form-main>input[readOnly]:hover {
    border: 1px solid #C2CAD8;
}

.aui-hidden {
    display: none;
}

.aui-form-changed {
    color: red;
}

.aui-dbgrid-main {
    height: 0;
    flex: 1;
    /* overflow: auto; */
    margin-top: .5rem;
    background-color: #fff;
    border-radius: .25rem;
    outline: 0;
}

.aui-dbgrid-main table {
    width: 100%;
    background-color: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
}

.aui-dbgrid-main table tr {
    height: 2.45rem;
}

.aui-dbgrid-main table th {
    border: 1px solid #eeeeee;
    background-color: #eaeaea;
    padding: .25rem;
    /* position: sticky; */
    top: -1px;
    line-height: 1.2rem;
    font-weight: normal;
}

.aui-dbgrid-main tr>th:not(tr>th:last-child):before {
    content: "";
    position: absolute;
    right: -1px;
    width: 1px;
    top: 0;
    bottom: 0;
    background-color: #fafafa;
    z-index: 10;
}

.aui-dbgrid-main table tr:hover {
    background-color: #d7ffef;
}

.aui-dbgrid-main table td {
    line-height: 1.6em;
    border: 1px solid #eeeeee;
    padding: 0 .2em;
    cursor: pointer;
    position: relative;
    word-break: break-all;
}

.aui-dbgrid-main table td>div, .aui-dbgrid-main table td>span {
    display: flex;
    align-items: center;
    padding: 0;
}

.aui-dbgrid-main table tr[data-key*=\.] {
    font-size: .9rem;
    color: #6a6a6a;
}

.aui-dbgrid-main table tr[data-key*=\.] {
    font-size: .9rem;
    color: #6a6a6a;
}

.aui-dbgrid-main input {
    width: 90%;
    margin: 0 auto;
    height: 1.5rem;
    border: 1px solid #C2CAD8;
    border-radius: .12rem;
    outline: none;
}

.aui-dbgrid-main input[type='checkbox'] {
    width: 100%;
    margin: 0 auto;
    height: 1.5rem;
    border: 1px solid #C2CAD8;
    border-radius: .12rem;
    outline: none;
}

.aui-dbgrid-inline {
    display: inline-block;
    vertical-align: top;
    word-break: break-all
}

.aui-dbgrid-evenLine {
    background-color: #fafafa;
}

.aui-dbgrid-changed {
    color: red;
}

.aui-dbgrid-columnCheck {
    background-color: aqua;
}

.aui-dialogForm-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.aui-dialogForm-client {
    position: absolute;
    margin: auto;
    z-index: 100;
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
    background: rgb(196, 240, 207);
    border: 1px solid #ebeef5;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    border-radius: .25rem;
    overflow: hidden;
}

.aui-dialogForm-title {
    color: white;
    background: green;
    padding: 0.5rem;
    position: sticky;
    top: 0;
}

.aui-dialogForm-content {
    height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.aui-dialogForm-btnClose {
    color: #fff;
    width: 1.5rem;
    float: right;
    text-align: center;
    cursor: pointer;
}

.aui-dialogFrom-btnShow {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: .5rem;
}

.aui-dialogFrom-btnShow img {
    width: 1rem;
}

.aui-grid-main {
    height: 0;
    flex: 1;
    overflow: auto;
    margin-top: .5rem;
    background-color: #fff;
    border-radius: .25rem;
}

.aui-grid-main table {
    width: 100%;
    background-color: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
}

.aui-grid-main table tr {
    height: 2.45rem;
}

.aui-grid-main table th {
    border: 1px solid #eeeeee;
    background-color: #eaeaea;
    padding: .25rem;
    position: sticky;
    top: -1px;
    line-height: 1.2rem;
    font-weight: normal;
}

.aui-grid-main tr>th:not(tr>th:last-child):before {
    content: "";
    position: absolute;
    right: -1px;
    width: 1px;
    top: 0;
    bottom: 0;
    background-color: #fafafa;
    z-index: 10;
}

.aui-grid-main table td {
    line-height: 1.6em;
    border: 1px solid #eeeeee;
    padding: 0 .2em;
    cursor: pointer;
}

.aui-grid-sort {
    color: red;
}

div[role=aui-header] {
    text-align: 'center';
    padding: '0.5rem'
}

.aui-mainMessage-main {

}

.aui-menuItem-main>a {
    color: #08A74D;
    line-height: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.aui-modifyPanel-main {
    background-color: #fff;
    border-radius: .35rem;
    /* display: flex; */
    padding: .5rem 1.25rem 0 1.25rem;
    display: flex;
    align-items: flex-start;
}

.aui-modifyPanel-head {
    flex-wrap: wrap;
    width: 90%;
    display: flex;
}

.aui-modifyPanel-opera {
    width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aui-modifyPanel-opera button {
    margin-right: 1rem;
    min-width: 4.13rem;
    height: 1.88rem;
    padding: 0 1rem;
    background-color: #009307;
    font-size: 1rem;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .24rem;
    line-height: 1.88rem;
    margin-bottom: .75rem;
}

.aui-muiPage-main {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #fff;
    border-top: 1px solid #eeeeee;
}

.aui-muiPage-main>button {
    background-color: transparent;
    color: black;
    border: 1px solid rgb(134, 114, 114);
    border-radius: 0.2rem;
    box-sizing: content-box;
    width: 3rem;
    min-width: auto;
    padding: 0;
    margin: 0.2rem;
}

.aui-muiPage-main>input[type='text'] {
    margin: 0;
}

.aui-operatePanel-main {
    margin-top: .5rem;
    background-color: #fff;
    border-radius: .24rem;
    height: 2.94rem;
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
}

.aui-operatePanel-main button {
    min-width: 4.13rem;
    height: 1.88rem;
    text-align: center;
    color: black;
    margin-right: .94rem;
    margin-left: 0;
    background-color: #d9efff;
    border-radius: .12rem;
    padding: 0 0.8em;
    border: 0;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}

.aui-searchPanel-main {
    background-color: #fff;
    border-radius: .35rem;
    display: flex;
    padding: .5rem 1.25rem 0 1.25rem;
    justify-content: flex-start;
}

.aui-searchPanel-search {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: 0;
}

.aui-searchPanel-search>span {
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
}

.aui-searchPanel-search>span>label {
    display: inline-block;
    min-width: 5em;
    max-width: 7em;
    text-align: left;
}

.aui-searchPanel-search input,.aui-searchPanel-search select {
    min-width: 9.63rem;
    width: 9.63rem;
    max-width: 50%;
    height: 1.68rem;
    border-radius: .12rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #C2CAD8;
    padding-left: .6rem;
}

.aui-searchPanel-search input[type='checkbox'] {
    min-width: auto;
    width: auto;
}

.aui-searchPanel-search input[type='checkbox']+label {
    padding-left: .5rem;
}

.aui-searchPanel-search>span>input:hover {
    border: 1px solid #058FCA;
}

.aui-searchPanel-main>button {
    margin-right: 1rem;
    min-width: 4.13rem;
    height: 1.88rem;
    padding: 0 1rem;
    background-color: #009307;
    font-size: 1rem;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .24rem;
    line-height: 1.88rem;
}

.aui-searchPanel-searchPhone {
    width: 100%;
}

.aui-searchPanel-searchPhone span {
    width: 100%;
    justify-content: center;
    position: relative;
}

.aui-searchPanel-searchPhone>button {
    margin-right: 0;
}

.aui-statusBar {
    clear: both;
}

.aui-toolPanel-main {
    background-color: #E0E0E0;
    height: 100%;
    overflow: auto;
}

.aui-toolPanel-toolGroup {
    max-width: 100%;
    width: 15.37rem;
    margin-top: .75rem;
    /* width: 15.99rem;
    margin: .75rem .69rem 0 .69rem; */
    border-radius: .28rem;
    padding: .69rem 1rem;
    box-sizing: border-box;
    background-color: #fff;
}

.aui-toolPanel-toolTitle {
    color: #009307;
    font-weight: bold;
    height: 2.31rem;
    line-height: 2.31rem;
    position: relative;
    padding-left: .8em;
    margin-left: 1rem;
    position: relative;
}

.aui-toolPanel-toolTitle::before {
    content: '';
    width: .12em;
    height: .9em;
    color: #009307;
    background-color: #009307;
    position: absolute;
    top: .71em;
    left: 0;
}

.aui-toolPanel-toolItems {
    font-size: .8rem;
    line-height: 1.5rem;
}

.aui-tree-mainTree, .aui-tree-childTree {
    display: flex;
    align-items: center;
    line-height: 1.5rem;
}

.aui-tree-mainTree span {
    cursor: pointer;
}

.aui-tree-childTree span {
    cursor: pointer;
}

.aui-tree-treeText {
    padding-left: .15rem;
}

@media screen and (min-width: 768px) {
    .aui-base-main {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .aui-base-main {
        max-width: 100%;
        width: 100%;
    }

    .aui-base-showDialog {
        position: absolute;
        right: 0;
    }

    .aui-searchPanel-main {
        padding: .5rem;
        align-items: center;
    }
    .aui-searchPanel-search input,.aui-searchPanel-search select {
        min-width: 11.63rem;
        width: 11.63rem;
        max-width: 50%;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1400px) {
    .aui-form-main {
        font-size: 14px;
    }
    .aui-form-main input[type="text"], .aui-form-main select {
        min-width: 9.63rem;
    }

    .aui-searchPanel-main>span {
        width: 50%;
    }
    .aui-searchPanel-search input,.aui-searchPanel-search select {
        width: 9.63rem;
    }
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
    .aui-form-main {
        font-size: 14px;
    }
    .aui-form-main input[type="text"], .aui-form-main select {
        min-width: 10.63rem;
    }

    .aui-searchPanel-main>span {
        width: 50%;
    }
    .aui-searchPanel-search input,.aui-searchPanel-search select {
        min-width: 9.63rem;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .aui-form-main {
        font-size: 14px;
    }
    .aui-form-main input[type="text"], .aui-form-main select {
        min-width: 8.63rem;
    }

    .aui-searchPanel-main>span {
        width: 50%;
    }
    .aui-searchPanel-search input,.aui-searchPanel-search select {
        min-width: 8.63rem;
    }
}