.main {
    height: 100%;
    overflow: auto;
}

.main form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: auto;
    background-color: #fff;
    padding: .5rem;
}

.main form input[type="submit"] {
    margin: 0;
    background-color: #3273F4;
    color: #fff;
    cursor: pointer;
    border-radius: .35rem;
    width: 4rem;
    min-width: auto;
}

.main form>div {
    display: flex;
    align-items: center;
}

.main .dbgrid {
    margin: 0 .15rem;
    width: calc(100% - .3rem);
}

.main table tr td, .brandDialog table tr th {
    border-color: #c0c0c0;
}

.main table tr td span {
    padding: 0;
}

.main table tr td span.searchSpan {
    color: #015bad;
    background-color: transparent;
}