.cusDialog .search>div,
.cusDialog .search .left>div {
    display: inline-block;
    padding: 0.3rem;
}

.cusDialog .search .left {
    clear: both;
    display: inline-block;
    width: calc(100% - 5rem);
    text-align: left;
}

.cusDialog .search .left>span {
    display: inline-block;
    padding-right: 1rem;
}

.cusDialog .search input[type="checkbox"] {
    height: auto;
    width: auto;
    min-width: auto;
}

.cusDialog .window form.search input[type="submit"] {
    position: inherit;
    vertical-align: top;
    top: 0;
}

.cusDialog .dbgrid tr[id^='tr'] td {
    padding: 0;
}

.cusDialog .dbgrid tr td {
    line-height: 1.2rem;
}

.cusDialog .dbgrid tr td>span {
    padding-right: 0;
}

.cusDialog article[role="document"] {
    margin-bottom: 0;
}

@media only screen and (max-width: 1000px) and (min-width: 767px) {
    body {
        min-width: auto;
    }
    article[role="document"] {
        min-width: auto;
        padding-left: 0;
        height: 100%;
    }

    article[role="document"] section[role="content"] {
        width: 100%;
        margin: 0;
        height: 100%;
        overflow: auto;
        position: relative;
    }
}