.search {
    min-height: '4em'
}
.search>div,
.search .left>div {
    display: inline-block;
    padding: 0.3rem;
}

.search .left {
    clear: both;
    display: inline-block;
    width: calc(100% - 5rem);
    text-align: left;
}

.search .left>span {
    display: inline-block;
    padding-right: 1rem;
}

.search input[type="checkbox"] {
    height: auto;
    width: auto;
    min-width: auto;
}

.window form.search input[type="submit"] {
    position: inherit;
    vertical-align: top;
    top: 0;
}

.dbgrid tr[id^='tr'] td {
    padding: 0;
}

.cusDialog .dbgrid tr td {
    line-height: 1.2rem;
}

.cusDialog .dbgrid tr td>span {
    padding-right: 0;
}

.cusDialog article[role="document"] {
    margin-bottom: 0;
}