html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

html {
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 3px;
    height: 7px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #c5c5c5;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3px;
}

body {
    background: rgb(230, 230, 230);
    padding: 0;
    margin: 0;
    height: 100%;
}

div[id='app'] {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainNavigator {
    height: 2rem;
}

.main_content {
    height: 0;
    flex: 1;
    overflow: auto;
    display: flex;
}

.main_phone {
    height: calc(100% - 5rem - 2rem);
    overflow: auto;
}

.auiMain .toolPanel {
    background: aliceblue;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 12rem;
    overflow: auto;
}

.auiMain .content {
    display: inline-block;
    width: calc(100% - 12rem);
    height: calc(100% - 1rem);
    overflow: auto;
    vertical-align: top;
}

.auiMain article {
    height: calc(100% - 4rem);
}

.auiMain .statusBar {
    height: 2rem;
}

.auiMain .content>.statusBar {
    height: 2rem;
}

.auiMain .mainMessage {
    height: 2rem;
    color: red;
}

.content {
    margin: .75rem 0 0 .75rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content>article {
    height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.load {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.load img {
    width: 2rem;
}

.load span {
    color: red;
}