.main {

}

.years {
    padding-top: 1rem;
}

.years li {
    display: inline-block;
    background-color: #ff7431;
    color: white;
    padding: .05rem .35rem;
    margin: .25rem .15rem;
    border-radius: .3rem;
    line-height: 1.5rem;
    cursor: pointer; 
}

.years li.checked {
    background-color: #3273F4;
}

.months {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.months li {
    width: 25%;
    border: 1px solid #c0c0c0;
    margin-top: -1px;
    margin-right: -1px;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
}

.months li.checked, .months li:hover {
    background-color: #3273F4;
    color: white; 
}