.main {
    background: #F7F7F7;
    height: 100%;
    line-height: 2rem;
}

div[id='app'] {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 1366px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.navigation {
    display: none;
}

.contanier {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.errpage {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: .95rem;
    color: #4e4e4e;
}

.errpage a {
    color: #4e99ac;
}

.errpage>ul {
    overflow: hidden;
}

.errpage>ul>li:first-child img {
    max-width: 100%;
    width: 12em;
}

.errpage>ul>li:last-child img {
    max-width: 100%;
    margin-bottom: 20px;
}

.errpage>ul>li:last-child a span {
    padding-left: 5px;
}

.statuBg {
    background-image: url('https://www.diteng.site/public/images/statusCode/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.errorMsg {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1.25rem;
    color: gray;
}

.errorMsg p {
    margin: 0;
}

@media screen and (max-width: 767px) {
    .main {
        width: 100vw;
        height: calc(100vh - 2.59rem);
        position: relative;
        line-height: 1.75rem;
    }
    .errpage {
        flex-direction: column;
        font-size: 1rem;
    }
}