.main {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1rem;
}

.loginMsg {
    margin: 0 3em;
}

.loginMsg>a {
    color: #fff;
}

.electronicFlag img {
    vertical-align: middle;
    height: auto;
    width: 4rem;
}

@media screen and (min-width: 768px) {
    .main {
        min-width: 1024px;
    }
}

@media screen and (max-width: 767px) {
    .main {
        height: 100vh;
        overflow: auto;
    }
}