.main {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1rem;
}

.loginMsg {
    margin: 0 3em;
}

.loginMsg>a {
    color: #fff;
}

.electronicFlag img {
    vertical-align: middle;
    height: auto;
    width: 4rem;
}

.iframe {
    height: 40px;
    border: none;
    overflow: hidden;
    margin-left: 1rem;
    visibility: hidden;
}

.pcLoad {
    width: 100%;
    background: linear-gradient(270deg, #3272F4, #509DFF);
    color: #fff;
    border: none;
    outline: none;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .main {
        min-width: 1024px;
    }
}

@media screen and (max-width: 767px) {
    .main {
        height: 100vh;
        overflow: auto;
    }
}