.main {
    height: 100%;
}

.headContent {
    padding: 1rem;
    overflow: auto;
}

.head {
    display: flex;
    align-items: flex-start;

}

.head label {
    margin: .25rem 0;
    line-height: 1.5rem;
    width: 5em;
    text-align: left;
}

.head ul {
    width: 0;
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.head ul li {
    background-color: #e6f4fa;
    color: #058fca;
    font-size: .85rem;
    margin: .25rem;
    padding: 0 .5rem;
    border-radius: .25rem;
    cursor: pointer;
    line-height: 1.5rem;
    min-width: 3rem;
    text-align: center;
}

.head ul li.selected {
    background-color: #058fca;
    color: #fff;
}

.main div[role='dbgrid'] {
    height: auto;
}

@media screen and (min-width: 768px) {
    .headContent {
        max-height: 20rem;
    }
}

@media screen and (max-width: 767px) {
    .head ul li {
        font-size: 1rem;
    }
    .head {
        flex-direction: column;
    }
    .head ul {
        width: 100%;
        flex-direction: row;
    }
}