.main {
    background-color: #fff;
    overflow: auto;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caseCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-top: 1px solid #cccccc;
    margin-top: 1rem;
}

.content .caseCard:first-child {
    border: none;
    margin-top: 0;
}

.main .content {
    height: 0;
    flex: 1;
    overflow: auto;
    width: 100%;
}

.initFirst>li:first-child {
    color: #67c23a;
    border-color: #c2e7b0;
    background-color: #f0f9eb;
}

.main li {
    min-width: 4.5em;
    text-align: center;
    padding: 0 .25rem;
    border-radius: .29rem;
    border: 1px solid #b3b4b6;
    background-color: #f4f4f4;
    cursor: pointer;
    margin-left: 1.5rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    height: 1.5rem;
    box-sizing: content-box;
}

.main li:hover {
    color: #67c23a;
    border-color: #c2e7b0;
    background-color: #f0f9eb;
}

.main li.selected {
    color: #67c23a;
    border-color: #c2e7b0;
    background-color: #f0f9eb;
}

.submit {
    margin: 1.5rem 0;
    width: 4.5rem;
    line-height: 1.55rem;
    color: #409eff;
    background-color: #ecf5ff;
    border: 1px solid #b3d8ff;
    border-radius: .29rem;
    box-sizing: content-box;
    text-align: center;
    cursor: pointer;
}
.showPartClass{
    display: flex;
}
.hidePartClass{
    display: none;
}