@font-face {
  font-family: "iconfont";
  /* Project id 2827127 */
  src: url('./iconfont.woff2?t=1644486068825') format('woff2'),
    url('./iconfont.woff?t=1644486068825') format('woff'),
    url('./iconfont.ttf?t=1644486068825') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconError:before {
  content: "\e68c";
}

.iconSuccess:before {
  content: "\e72e";
}

.iconWarn:before {
  content: "\e61e";
}

.iconInfo:before {
  content: "\e65a";
}

.iconXiaoxizhongxin:before {
  content: "\e626";
}

.iconExpend:before {
  content: "\e600";
}

.iconShrink:before {
  content: "\e643";
}

.iconYanzhengma:before {
  content: "\e614";
}

.iconQuxiao:before {
  content: "\e625";
}