.data-view {
  width: 100%;
  height: 100%;
  background-color: #030409;
  color: #fff;
}

.data-view .dv-full-screen-container {
  background-image: url('./img/bg.png');
  background-size: 100% 100%;
  box-shadow: 0 0 3px blue;
  display: flex;
  flex-direction: column;
}

.data-view .main-content {
  height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.data-view .block-left-right-content {
  height: 0;
  flex: 1;
  display: flex;
  margin-top: 20px;
  padding: 0 20px;
}

.data-view .block-top-bottom-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 2rem;
}

.data-view .block-top-content {
  height: 55%;
  display: flex;
  flex-grow: 0;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.textList {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 100%;
}

.textList2,.textList3 {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 110%;
  position: relative;
}

.double {
  height: 0;
  flex: 2;
}

.textList2>div {
  margin-top: .5rem;
}

.textList2>div>div>div>ul {
  padding-top: 3.75rem;
}

.textList2>div>div>div>ul>li {
  height: 2rem;
  line-height: 2rem;
}

.textList3>div>div>div>ul {
  padding-top: 4rem;
}

.textList3>div>div>div>ul>li {
  height: 2.25rem;
  line-height: 2.25rem;
}

.polylineOption {
  height: 400px;
  padding-top: 30px;
  box-sizing: border-box;
}

.polylineOption2 {
  height: 300px;
  padding-top: 30px;
  box-sizing: border-box;
}

.table {
  width: 100%;
  box-sizing: border-box;
  padding: 4rem 1rem 1rem;
}

.table tr {
  height: 2.25rem;
}

.table tr>td:nth-of-type(1) {
  padding-left: 1rem;
}
.table tr>td:nth-of-type(n+2) {
  text-align: center;
}

.table td {
  width: 25%;
  box-sizing: border-box;
}