.main {
  height: 0;
  flex: 1;
}

.content {
  padding: 4.25rem 2rem 0 6rem;
  font-size: 1.4rem;
}

.content li {
  display: flex;
  align-items: center;
  height: 2.5rem;
  line-height: 2.5rem;
}

.flop {
  width: 8rem;
  height: 50px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #fff;
}