.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    line-height: 1em;
    flex: 1;
}

.contactList>li,
.AllContactList>li {
    display: flex;
}

.contactLiItem {
    cursor: pointer;
}

.contactLiItem:hover {
    background-color: #e8e6e6;
}

.contactLiItemCenter {
    align-items: center;
}

.contactList>li>.title,
.AllContactList>li>.title {
    font-size: 16px;
}

.AllContactList>li .rightBtnContent {
    display: none;
}

.AllContactList>li:hover {
    background-color: #f7f7f7;
}

.AllContactList>li:hover .rightBtnContent {
    display: flex;
    align-items: center;
}

.contactImage {
    text-align: center;
    background-color: #0755aa;
    color: #fff;
    border-radius: 50%;
}

.contactImage+div {
    width: 0;
    flex: 1;
    position: relative;
}

.contactTitle {
    display: flex;
    align-items: center;
    padding-top: 2px;
}

.contactTitle+div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999999;
}

.contactTitle>span:first-child {
    width: 0;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    font-weight: 400;
    line-height: 1em;

}

.contactTitle>span:nth-child(2) {
    color: #999999;
    width: .5rem;
}

.contactTitle>span:nth-child(2)>img {
    width: 100%;
}

.selectContact {
    background-color: #f5f5f5;
}

.rightBoxSendBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 5px;
    height: 1.6rem;
}

.addContact {
    display: flex;
    justify-content: flex-end;
    padding: .5rem 1rem;
}

.addContactBtn {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    background-color: #fff;
    border: 1px solid #008738;
    border-radius: 5px;
    height: 14px;
    box-sizing: content-box;
    line-height: 14px;
    font-size: 14px;
    cursor: pointer;
    color: #008738;
}

.addContactBtn>i {
    margin-right: .25rem;
    font-size: 18px;
    line-height: 18px;
    margin-top: -2px;
}

.contactTitle+div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b7b7b7;
}

.alignItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hover {
    cursor: pointer;
}

.AllContactList>.noContact {
    color: #ccc;
    padding: 1rem;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
}

.AllContactList>.noContact:hover {
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .main {
        height: 0;
        flex: 1;
        display: flex;
        line-height: 1em;
    }

    .contactList>li>.title,
    .AllContactList>li>.title {
        height: 16px;
        line-height: 16px;
    }

    .contactList {
        width: 360px;
        background-color: #fff;
        height: 100%;
        overflow: auto;
    }

    .rightBox {
        width: 0;
        flex: 1;
        background-color: #fff;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        border-left: 1px solid #d6d6d6;
    }

    .main .search {
        height: 48px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        border-radius: 0;
        position: relative;
        margin-bottom: 0;
    }

    .main .search::after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 1px;
        background-color: #ebebeb;
    }

    .main .search>input {
        width: 200px;
        margin-right: 16px;
    }

    .main .search>button {
        padding: 0.375rem 0.75rem;
        background-color: #008738;
        border-radius: 5px;
        height: 14px;
        box-sizing: content-box;
        line-height: 14px;
        font-size: 14px;
        cursor: pointer;
        color: #fff;
        min-width: auto;
    }

    .AllContactList {
        height: 0;
        flex: 1;
        overflow: auto;
    }

    .contactList>li {
        padding: 10px 16px;
    }

    .contactList>.titleBox {
        border-top: 1px solid #ebebeb;
        padding: 16px 16px 8px;
    }

    .AllContactList>li {
        padding: 10px 16px;
    }

    .selectContact {
        background-color: #e8e6e6;
    }

    .contactImage {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-right: 10px;
        font-size: 14px;

    }

    .contactTitle {
        line-height: 14px;
    }

    .contactTitle>span:first-child {
        font-size: 14px;
        line-height: 14px;
    }

    .contactTitle>span:nth-child(2) {
        font-size: 0.75rem;
    }

    .contactTitle+div {
        font-size: 14px;
        line-height: 14px;
        padding-top: 6px;
        padding-right: 20px;
    }

}


@media screen and (max-width: 767px) {

    .main,
    .contactList,
    .AllContactList {
        min-height: 100%;
        position: relative;
    }

    .main .search {
        position: fixed;
        top: 2.59rem;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: #fff;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-radius: 0;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 0;
    }

    .main .search>input {
        width: 0;
        flex: 1;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .main .search>button {
        height: 1.75rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .contactList>li {
        position: relative;
    }

    .contactList,
    .AllContactList {
        background-color: #fff;
        padding-bottom: .5rem;
    }

    .contactImage {
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
        margin-right: .5rem;
        font-size: 14px;
    }

    .contactList>li>.title {
        padding: 1rem 1rem .5rem 1rem;
        height: 2.5rem;
        line-height: 2.5rem;
        position: relative;
        border-top: 1px solid #ebebeb;
    }

    .contactTitle {
        line-height: 1rem;
    }

    .contactTitle>span {
        font-size: 14px;
    }

    .contactTitle+div {
        font-size: 12px;
        line-height: 12px;
        padding-top: .25rem;
    }

    .contactLiItem,
    .AllContactList>li {
        padding: .5rem 1rem .5rem 1rem;
    }

    .contactDetailList {
        overflow: auto;
        padding-top: 50px;
    }

    .contactList>li>.title,
    .AllContactList>li>.title {
        width: auto !important;
    }

    .boderTop1 {
        margin-top: 0.3125rem;
        position: relative;
    }

    .boderTop1::before {
        content: '';
        position: absolute;
        left: .5rem;
        right: .5rem;
        top: 0;
        height: 1px;
        background-color: #f2f2f2;
    }

    .paddingBottom {
        margin-bottom: .5rem;
    }
}