div[role='dialog'] .main {
    background-color: #3273F4;
    padding: 0 .25rem .25rem .25rem;
    box-sizing: border-box;
    position: absolute;
    border-radius: .29rem;
    display: flex;
    flex-direction: column;
}

div[role='dialog'] .title {
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: 2.5rem;
    display: flex;
    align-items: center;
    cursor: all-scroll;
}

div[role='dialog'] .close {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: .5rem;
}

div[role='dialog'] .content {
    height: 0;
    flex: 1;
    background-color: #fff;
    overflow: auto;
    position: relative;
}

.load {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.load img {
    width: 2rem;
}

.load span {
    color: red;
}

.showDialog {
    cursor: pointer;
    margin-left: .5rem;
    width: 1rem;
}

@media screen and (min-width: 768px) {
    div[role='dialog'] .main {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    div[role='dialog'] .main {
        max-width: 100%;
        width: 100%;
    }

    .showDialog {
        position: absolute;
        right: 0;
    }
}