.main {
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
    margin-right: 1.5rem;
}
.main>label {
    min-width: 5em;
    max-width: 7em;
    text-align: left;
}

.main>input {
    height: 1.68rem;
    border-radius: .12rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #C2CAD8;
    padding-left: .6rem;
}

.main>input:hover {
    border: 1px solid #058FCA;
}

.main>input[readOnly]:hover {
    border: 1px solid #C2CAD8;
}

.hidden {
    display: none;
}

.changed {
    color: red;
}

@media only screen and (max-width: 1600px) and (min-width: 1400px) {
    html {
        font-size: 14px;
    }
    .main input[type="text"], .main select {
        min-width: 9.63rem;
    }
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
    html {
        font-size: 14px;
    }
    .main input[type="text"], .main select {
        min-width: 10.63rem;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    html {
        font-size: 14px;
    }
    .main input[type="text"], .main select {
        min-width: 8.63rem;
    }
}