.main {
    height: 0;
    flex: 1;
    /* overflow: auto; */
    margin-top: .5rem;
    background-color: #fff;
    border-radius: .25rem;
}

.main table {
    width: 100%;
    background-color: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
}

.main table tr {
    height: 2.45rem;
}

.main table th {
    border: 1px solid #eeeeee;
    background-color: #eaeaea;
    padding: .25rem;
    /* position: sticky; */
    top: -1px;
    line-height: 1.2rem;
    font-weight: normal;
}

.main tr>th:not(tr>th:last-child):before {
    content: "";
    position: absolute;
    right: -1px;
    width: 1px;
    top: 0;
    bottom: 0;
    background-color: #fafafa;
    z-index: 10;
}

.main table tr:hover {
    background-color: #d7ffef!important;
}

.main table td {
    line-height: 1.6em;
    border: 1px solid #eeeeee;
    padding: 0 .2em;
    cursor: pointer;
    position: relative;
}

.main table tr[data-key*=\.] {
    font-size: .9rem;
    color: #6a6a6a;
}

.main table tr[data-key*=\.] {
    font-size: .9rem;
    color: #6a6a6a;
}

.main input {
    width: 90%;
    margin: 0 auto;
    height: 1.5rem;
    border: 1px solid #C2CAD8;
    border-radius: .12rem;
    outline: none;
}

.main input[type='checkbox'] {
    width: 100%;
    margin: 0 auto;
    height: 1.5rem;
    border: 1px solid #C2CAD8;
    border-radius: .12rem;
    outline: none;
}

.inline {
    display: inline-block;
    vertical-align: top;
    word-break: break-all
}

.evenLine {
    background-color: #fafafa;
}