.grid {
    border: 1px solid;
    width: 100%;
    background: rgb(250, 250, 250);
}

.column {
    border: 1px solid;
}

.column>span>input {
    border: 0;
    padding: 0.2rem;
    background: white;
}