.dialogForm .dialogClient {
    position: absolute;
    left: 10%;
    width: 80%;
    top: 10%;
    height: 80%;
    background: rgb(196, 240, 207);
}

.dialogForm .dialogTitle {
    color: white;
    background: green;
    padding: 0.5rem;
}

.dialogForm .dialogClose {
    background: white;
    color: red;
    width: 1.5rem;
    float: right;
    text-align: center;
    cursor: pointer;
}