.main {}

.client {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgb(196, 240, 207);
}

.title {
    color: white;
    background: green;
    padding: 0.5rem;
}

.btnClose {
    background: white;
    color: red;
    width: 1.5rem;
    float: right;
    text-align: center;
    cursor: pointer;
}

.btnShow {
    cursor: pointer
}