.main {
    background-color: #fff;
    border-radius: .35rem;
    /* display: flex; */
    padding: .5rem 1.25rem 0 1.25rem;
    display: flex;
    align-items: flex-start;
}

.head {
    flex-wrap: wrap;
    width: 90%;
    display: flex;
}

.opera {
    width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.opera button {
    margin-right: 1rem;
    min-width: 4.13rem;
    height: 1.88rem;
    padding: 0 1rem;
    background-color: #009307;
    font-size: 1rem;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .24rem;
    line-height: 1.88rem;
    margin-bottom: .75rem;
}