.main {
    margin-top: .5rem;
    background-color: #fff;
    border-radius: .24rem;
    height: 2.94rem;
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
}

.main button {
    min-width: 4.13rem;
    height: 1.88rem;
    text-align: center;
    color: black;
    margin-right: .94rem;
    margin-left: 0;
    background-color: #d9efff;
    border-radius: .12rem;
    padding: 0 0.8em;
    border: 0;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}