.main {
    background-color: #fff;
    border-radius: .35rem;
    display: flex;
    padding: .5rem 1.25rem 0 1.25rem;
    justify-content: flex-start;
}

.search {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: 0;
}

.search>span {
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
}

.search>span>label {
    display: inline-block;
    min-width: 5em;
    max-width: 7em;
    text-align: left;
}

.search input,.search select {
    min-width: 9.63rem;
    width: 9.63rem;
    max-width: 50%;
    height: 1.68rem;
    border-radius: .12rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #C2CAD8;
    padding-left: .6rem;
}

.search>span>input:hover {
    border: 1px solid #058FCA;
}

.main>button {
    margin-right: 1rem;
    min-width: 4.13rem;
    height: 1.88rem;
    padding: 0 1rem;
    background-color: #009307;
    font-size: 1rem;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .24rem;
    line-height: 1.88rem;
}

@media only screen and (max-width: 1600px) and (min-width: 1400px) {
    .main>span {
        width: 50%;
    }
    .search input,.search select {
        width: 9.63rem;
    }
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
    .main>span {
        width: 50%;
    }
    .search input,.search select {
        min-width: 9.63rem;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .main>span {
        width: 50%;
    }
    .search input,.search select {
        min-width: 8.63rem;
    }
}

@media only screen and (max-width: 767px) {
    .main {
        padding: .5rem;
        align-items: center;
    }
    .search input,.search select {
        min-width: 11.63rem;
        width: 11.63rem;
        max-width: 50%;
    }
}

.searchPhone {
    width: 100%;
}

.searchPhone span {
    width: 100%;
    justify-content: center;
    position: relative;
}

.searchPhone>button {
    margin-right: 0;
}