html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.main {
    height: 100%;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1rem;
}

.loginMsg {
    margin: 0 3em;
}

.loginMsg>a {
    color: #fff;
}

.electronicFlag img {
    vertical-align: middle;
    height: auto;
    width: 4rem;
}

.iframe {
    height: 40px;
    border: none;
    overflow: hidden;
    margin-left: 1rem;
    visibility: hidden;
}

.pcLoad {
    width: 100%;
    background: linear-gradient(270deg, #3272F4, #509DFF);
    color: #fff;
    border: none;
    outline: none;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordInput input {
    ime-mode: disabled;
}

@media screen and (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        font-family: '微软雅黑';
    }

    .main {
        min-width: 1024px;
    }

    div[id='loginPage'] {
        height: 100%;
    }

    /*隐藏密码输入框在ie内核浏览器中出现自带的眼睛图标*/
    input[type="password"]::-ms-reveal {
        display: none;
    }

    .loginMain {
        text-align: center;
        overflow: auto;
        height: calc(100% - 13.125rem);
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        min-height: 40rem;
    }

    .loginMain>img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120rem;
        height: 50rem;
    }

    .footRight {
        display: inline-block;
        color: #333333;
        font-size: .8rem;
        line-height: 1.375rem;
    }

    .footRight a {
        color: #333333;
        line-height: 1.375rem;
    }

    .footRight a small {
        font-size: .875rem;
        line-height: 1.375rem;
    }

    .headLogin {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 7.5rem;
        width: 75rem;
    }

    .headLogin img {
        width: 13.25rem;
    }

    .headLogin a {
        background-image: linear-gradient(90deg, #3272F4, #509DFF);
        box-shadow: 0px 2px 10px 0px rgba(51, 116, 244, 0.72);
        color: #fff;
        text-align: center;
        height: 3.25rem;
        width: 8.75rem;
        line-height: 3.25rem;
        font-size: 1.25rem;
        border-radius: 1.625rem;
    }

    .loginFormBox {
        display: flex;
        justify-content: space-between;
        width: 75rem;
        position: relative;
        z-index: 10;
    }

    .loginTitle {
        font-weight: bold;
        font-size: 1.75rem;
    }

    .uiForm {
        display: inline-block;
        background-color: #fff;
        box-shadow: 0 .25rem 1.25rem 0 rgba(35, 35, 35, 0.17);
        width: 28.625rem;
        border-radius: 1.25rem;
        margin-top: 2.25rem;
        padding: 2.25rem 0;
    }

    .formTitle {
        text-align: center;
        color: #333333;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.5rem;
        height: 3rem;
    }

    .contentRight {
        padding: 0 3.125rem;
    }

    .userMessage .keyInput {
        border: 1px solid #cccccc;
        text-align: left;
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1rem;
        height: 3.2rem;
        line-height: 3.2rem;
        margin-top: 2rem;
        padding-left: 2.23em;
        border-radius: .5rem;
    }

    .userMessage p img {
        vertical-align: middle;
        width: 1.125rem;
    }
    .userMessage p>img+span {
        padding-bottom: 0;
        margin-right: 0;
    }
    .userMessage p input[type="text"], .userMessage p input[type="password"] {
        border: none;
        outline: 0;
        vertical-align: middle;
        font-size: 1rem;
        color: #333;
        padding-left: .6em;
    }
    .userMessage p input[type="text"]::-webkit-input-placeholder, .userMessage p input[type="password"]::-webkit-input-placeholder {
        color: #999;
    }
    .userMessage p input[type="text"]::-moz-placeholder, .userMessage p input[type="password"]::-moz-placeholder {
        color: #999;
    }
    .userMessage p input[type="text"]:-moz-placeholder, .userMessage p input[type="password"]:-moz-placeholder {
        color: #999;
    }
    .userMessage p input[type="text"]:-ms-input-placeholder, .userMessage p input[type="password"]:-ms-input-placeholder {
        color: #999;
    }

    .remember {
        padding-left: .25rem !important;
        margin-top: 0 !important;
        color: #666666 !important;
        border-bottom: 0 !important;
        height: 3.875rem;
        line-height: 3.875rem;
        text-align: left;
    }

    .userStatus {
        margin-top: 1rem;
    }

    .userStatus button {
        width: 100%;
        background: linear-gradient(270deg, #3272F4, #509DFF);
        color: #fff;
        ;
        border: none;
        outline: none;
        height: 3.5rem;
        line-height: 3.5rem;
        border-radius: .5rem;
        font-size: 1.25rem;
    }

    .userStatus button:hover {
        border: none;
    }

    p[role="pc"] {
        display: flex;
        align-items: center;
        color: #666666;
        padding-left: .25rem;
        margin: 1rem 0;
        font-size: 1rem;
        line-height: 1rem;
    }

    p[role="pc"]>label {
        padding-left: .25rem;
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.41rem;
    }

    .bottom a {
        color: #666;
        position: relative;
    }

    .bottom .afterRight:after {
        position: absolute;
        content: "";
        height: .625rem;
        width: .065rem;
        background-color: #ccc;
        top: 50%;
        transform: translateY(-50%);
        right: -1.25rem;
    }

    .chooseUser {
        font-size: 1rem;
        display: inline-block;
        position: absolute;
        width: 3em;
        height: 3em;
        top: 0;
        right: 0;
        background: url('https://www.diteng.site/public/images/crow-down1.png');
        background-size: 1.2em 1.2em;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
    }

    .showList {
        font-size: 1rem;
        background-image: url('https://www.diteng.site/public/images/crow-up1.png') !important;
        background-size: 1.2em 1.2em;
        background-repeat: no-repeat;
        background-position: center;
    }

    .userList {
        right: -.065rem;
        height: 10em;
        position: absolute;
        top: 2.85rem;
        left: -.065rem;
        background: white;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        z-index: 22;
        padding: 0 1em;
        filter: grayscale(50%);
        border: .065rem solid #cccccc;
        border-top: 0;
        overflow: auto;
    }

    .userList::-webkit-scrollbar {
        width: 3px;
        /*对垂直流动条有效*/
        height: 7px;
    }

    /*定义滚动条的轨道颜色、内阴影及圆角*/
    .userList::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 3px;
    }

    /*定义滑块颜色、内阴影及圆角*/
    .userList::-webkit-scrollbar-thumb {
        border-radius: 7px;
        background-color: #c5c5c5;
    }

    /*定义两端按钮的样式*/
    .userList::-webkit-scrollbar-button {
        display: none;
    }

    /*定义右下角汇合处的样式*/
    .userList::-webkit-scrollbar-corner {
        display: none;
    }

    .userList li {
        position: relative;
        width: 100%;
        height: 3em;
        line-height: 3em;
        list-style: none;
        border-bottom: .02rem solid #e6e6e6;
    }

    .userList li span {
        display: inline-block;
        width: 80%;
        height: 3em;
        line-height: 3em;
        color: black;
    }

    .userList li:last-child {
        border: 0;
    }

    .userList li:first-child {
        border-bottom: .065rem solid #e6e6e6;
    }

    .userList li .remove {
        position: absolute;
        display: inline-block;
        width: 3em;
        height: 3em;
        top: 0;
        right: 0;
        background: url('https://www.diteng.site/public/images/remove.png');
        background-size: 0.8em 0.8em;
        background-repeat: no-repeat;
        background-position: 80% center;
    }

    .showList img {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        /* Internet Explorer */
        -moz-transform: rotate(180deg);
        /* Firefox */
        -webkit-transform: rotate(180deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(180deg);
        /* Opera */
    }

    .sendCode {
        cursor: pointer;
        text-align: right;
        padding-right: .69rem;
    }

    .verify>span {
        width: 0;
        flex: 1;
    }

    .status {
        width: 100%;
        min-height: 5.625rem;
        background: #ffffff;
        padding: 1.25rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        z-index: 100;
        overflow: hidden;
    }

    .status div {
        padding: 0 !important;
    }

    .loginMsg {
        margin-top: .91rem;
        line-height: 1.45em;
        color: #ff4545;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1400px) {
    .headLogin {
        height: 7.285rem;
    }

    .headLogin img {
        width: 12.87rem;
    }

    .headLogin a {
        width: 8.5rem;
        height: 3.155rem;
        line-height: 3.155rem;
        font-size: 1.14rem;
    }

    .loginMain {
        height: calc(100% - 11.155rem);
        min-height: 36rem;
    }

    .loginMain>img {
        width: 114.285rem;
        height: 47.6rem;
    }

    .loginTitle {
        font-size: 1.72rem;
    }

    .uiForm {
        width: 27.8rem;
        margin-top: 2.43rem;
        padding: 2.43rem 0;
    }

    .title {
        font-size: 1.43rem;
        line-height: 1.43rem;
    }

    .contentRight {
        padding: 0 3rem;
    }

    .userMessage .keyInput {
        height: 3.4rem;
        line-height: 3.4rem;
        margin-top: 2.18rem;
        padding-left: 2.17em;
        border-radius: .485rem;
    }

    .userList {
        height: 9.7em;
        top: 2.9rem;
    }

    .status {
        min-height: 5.46rem;
    }

    .remember {
        height: 3.76rem;
        line-height: 3.76rem;
    }

    .userStatus button {
        height: 3.4rem;
        line-height: 3.4rem;
        font-size: 1.14rem;
    }

    .bottom {
        margin-top: 1.37rem;
    }

    .loginFormBox>.loginTitle {
        padding-left: 2.285em;
    }

    .bottom .afterRight:after {
        right: -1rem;
    }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
    .headLogin {
        height: 5.97rem;
    }

    .headLogin img {
        width: 11.36rem;
    }

    .headLogin a {
        width: 7.5rem;
        height: 2.79rem;
        line-height: 2.79rem;
        font-size: 1.14rem;
    }

    .loginMain {
        height: calc(100% - 11.84rem);
        min-height: 32rem;
    }

    .loginMain>img {
        width: 100rem;
        height: 42.855rem;
    }

    .loginTitle {
        font-size: 1.71rem;
    }

    .uiForm {
        width: 25.68rem;
        margin-top: 1.7rem;
        padding: 1.7rem 0;
    }

    .title {
        font-size: 1.43rem;
        line-height: 1.43rem;
    }

    .contentRight {
        padding: 0 2.67rem;
    }

    .userMessage .keyInput {
        height: 3rem;
        line-height: 3rem;
        margin-top: 1.7rem;
        padding-left: 1.92rem;
        border-radius: .43rem;
    }

    .userList {
        height: 8.57em;
        top: 2.57rem;
    }

    .status {
        min-height: 4.87rem;
    }

    .remember {
        height: 3.07rem;
        line-height: 3.07rem;
    }

    .userStatus button {
        height: 3rem;
        line-height: 3rem;
        font-size: 1.14rem;
    }

    .bottom {
        margin-top: .64rem;
    }

    .loginFormBox {
        padding: 0 2.285em;
    }

    .userStatus {
        margin-top: .57rem;
    }

    .bottom .afterRight:after {
        right: -.85rem;
    }
}

@media screen and (max-width: 1199px) {
    .headLogin {
        height: 5.97rem;
        width: 64.85rem;
    }

    .headLogin img {
        width: 11.36rem;
    }

    .headLogin a {
        width: 7.5rem;
        height: 2.79rem;
        line-height: 2.79rem;
        font-size: 1.14rem;
    }

    .loginMain {
        height: calc(100% - 10.84rem);
        min-height: 30rem;
    }

    .loginMain>img {
        width: 100rem;
        height: 42.855rem;
    }

    .loginTitle {
        font-size: 1.71rem;
    }

    .uiForm {
        width: 25.68rem;
        margin-top: 1.7rem;
        padding: 1.7rem 0;
    }

    .title {
        font-size: 1.43rem;
        line-height: 1.43rem;
    }

    .contentRight {
        padding: 0 2.675rem;
    }

    .userMessage .keyInput {
        height: 3rem;
        line-height: 3rem;
        margin-top: 1.7rem;
        padding-left: 1.92rem;
        border-radius: .43rem;
    }

    .userList {
        height: 8.57em;
        top: 2.57rem;
    }

    .status {
        min-height: 4.87rem;
    }

    .remember {
        height: 3.07rem;
        line-height: 3.07rem;
    }

    .userStatus button {
        height: 3rem;
        line-height: 3rem;
        font-size: 1.14rem;
    }

    .bottom {
        margin-top: .64rem;
    }

    .loginFormBox {
        padding: 0 2.285em;
    }

    .userStatus {
        margin-top: .57rem;
    }

    .bottom .afterRight:after {
        right: -.65rem;
    }
}

@media screen and (max-width: 767px) {
    .main {
        height: 100vh;
        overflow: auto;
    }

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    li {
        list-style: none;
    }

    em,
    i {
        font-style: normal;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: 400;
    }

    html {
        color: #333333;
        font-size: 16px;
    }

    main {
        height: 100%;
    }

    main>article {
        padding: 0 !important;
    }

    input[placeholder],
    [placeholder],
    *[placeholder] {
        color: #333 !important;
    }

    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #999999 !important;
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #999999 !important;
    }

    input:-ms-input-placeholder {
        color: #999999 !important;
    }

    input::-webkit-input-placeholder {
        color: #999999 !important;
    }

    .mainBox {
        background-color: #fff;
        border-radius: 1.88rem 1.88rem 0 0;
    }

    .inputGroup {
        max-width: 20.2em;
        width: 80%;
        height: 2.8em;
        line-height: 2.8em;
        margin: 0 auto 1.8em;
        border-radius: 3px;
        padding-left: 3.2em;
        box-sizing: border-box;
        position: relative;
        background: #F7F7F7;
    }

    .inputGroup>span:first-of-type {
        padding-bottom: 0;
        margin-right: 0;
        display: inline-block;
    }

    .inputGroup>span:first-of-type>input {
        border: none;
        outline: none;
    }

    .inputGroup>span:first-of-type>input:hover {
        border: none;
    }

    .inputGroup input {
        width: 100%;
        outline: none;
        border: none;
        background: transparent;
        font-size: 1rem;
        padding: 0;
    }

    .inputGroup input:focus {
        border: none !important;
    }

    .inputGroup:before {
        display: inline-block;
        position: absolute;
        width: 2.8em;
        height: 2.8em;
        top: 0;
        left: 0;
        content: "";
    }

    .userName:before {
        background: url('https://www.diteng.site/public/images/name2.png');
        background-size: auto 1.13rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    .chooseUser {
        display: inline-block;
        position: absolute;
        width: 2.8em;
        height: 2.8em;
        top: 0;
        right: 0;
        background: url('https://www.diteng.site/public/images/crow-down1.png');
        background-size: 1.2em 1.2em;
        background-repeat: no-repeat;
        background-position: center;
    }

    .showList {
        background: url('https://www.diteng.site/public/images/crow-up1.png');
        background-size: 1.2em 1.2em;
        background-repeat: no-repeat;
        background-position: center;
    }

    .userList {
        max-width: 20.2em;
        width: 100%;
        height: 10em;
        position: absolute;
        top: 2.7em;
        left: 0;
        background: #F7F7F7;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        z-index: 22;
        padding: 0 1em;
        overflow-y: auto;
        filter: grayscale(50%);
    }

    .userList::-webkit-scrollbar {
        width: 4px;
    }

    .userList::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .2);
    }

    .userList::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, .1);
    }

    .userList li {
        position: relative;
        width: 100%;
        height: 2.8em;
        line-height: 2.8em;
        list-style: none;
        border-bottom: 1px solid #e6e6e6;
    }

    .userList li span {
        display: inline-block;
        width: 80%;
        height: 2.8em;
        line-height: 2.8em;
        color: black;
    }

    .userList li:last-child {
        border: 0;
    }

    .userList li:first-child {
        border-bottom: 1px solid #e6e6e6;
    }

    .userList li .remove {
        position: absolute;
        display: inline-block;
        width: 2.8em;
        height: 2.8em;
        top: 0;
        right: 0;
        background: url('https://www.diteng.site/public/images/remove.png');
        background-size: 0.8em 0.8em;
        background-repeat: no-repeat;
        background-position: 80% center;
    }

    .passWord:before {
        background: url('https://www.diteng.site/public/images/pwd2.png');
        background-size: auto 1.13rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    .verify:before {
        background: url('https://www.diteng.site/public/images/verify.png');
        background-size: auto 1.13rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    .operationLogin {
        max-width: 20.2em;
        width: 80%;
        margin: 0 auto 2.5em;
        text-align: left;
    }

    .operationLogin>label {
        padding-left: .32rem;
    }

    .protocolBox {
        display: block;
    }

    .protocol {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #999;
    }

    .protocol>label {
        padding-left: .32rem;
    }

    .sendCode {
        position: absolute;
        right: 0.5rem;
        background-color: transparent;
        color: black;
        font-size: .85rem;
        top: 50%;
        transform: translateY(-50%);
        top: 50%;
    }

    .btnSubmit {
        max-width: 17.6em;
        display: block;
        width: 78%;
        height: 2.7em;
        line-height: 2.7em;
        margin: 0 auto 2em;
        background-image: linear-gradient(0deg, #258FFC, #4697FF);
        text-align: center;
        font-size: 17px;
        color: #fff !important;
        outline: none;
        border: none;
        border-radius: 2.7em;
    }

    .customService {
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
    }

    .customService h3 {
        padding: 1em 0;
        color: #333;
        font-weight: normal;
    }

    .customService a {
        color: #FF9000;
    }

    .customService .protocol a {
        color: #333;
    }

    .upt {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .upt>div {
        width: 20em;
        height: 15em;
        position: fixed;
        top: -10em;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background: #ffffff;
        color: #000000;
        text-align: center;
        border-radius: 0.5em;
    }

    .upt>div img {
        position: absolute;
        right: 0;
        width: 1em;
        display: none;
        margin: 0.6em;
    }

    .forgetPassword {
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 1em;
    }

    .option {
        padding: 1.5em;
        overflow: hidden;
    }

    .option span {
        display: inline-block;
        padding: 0.4em 0;
        width: 5em;
        border-radius: 0.3em;
    }

    .true {
        border: 1px solid #BBBBBB;
        float: left;
    }

    .forget {
        border: 1px solid #E82B2B;
        float: right;
    }

    .logoBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 13.44rem;
    }

    .logoBox>img {
        width: 5.94rem;
    }

    .logoBox>h3 {
        font-size: 1.36rem;
        font-weight: bold;
        padding-top: .49rem;
        margin: 1em 0;
    }
}