html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    min-width: 1024px;
}

.main {
    height: 100%;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1rem;
}

.loginMsg {
    margin: 0 3em;
}

.loginMsg>a {
    color: #fff;
}

.electronicFlag img {
    vertical-align: middle;
    height: auto;
    width: 4rem;
}

.iframe {
    width: 118px;
    height: 48px;
    border: none;
    overflow: hidden;
    margin: 0 1.5rem;
    visibility: hidden;
}

.pcLoad {
    width: 100%;
    background-color: #008738;
    color: #fff;
    border: none;
    outline: none;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passInput {
    width: 0;
    flex: 1;
}

.passwordInput input {
    ime-mode: disabled;
}

.inputHover {
    border-color: rgb(55, 206, 190) !important;
    box-shadow: 0 0 .24rem .24rem rgba(156, 238, 230, 0.3);
}

@media screen and (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        font-family: '微软雅黑';
    }

    .main {
        min-width: 1360px;
        display: flex;
        flex-direction: column;
    }

    div[id='loginPage'] {
        height: 100%;
    }

    /*隐藏密码输入框在ie内核浏览器中出现自带的眼睛图标*/
    input[type="password"]::-ms-reveal {
        display: none;
    }

    .loginMain {
        text-align: center;
        overflow: auto;
        height: 0;
        flex: 1;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        min-height: 45rem;
    }

    .loginMain>img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1920px;
        object-fit: contain;
    }

    .footRight {
        display: inline-block;
        color: #333333;
        font-size: .8rem;
        line-height: 1.375rem;
    }

    .footRight a {
        color: #333333;
        line-height: 1.375rem;
    }

    .footRight a small {
        font-size: .875rem;
        line-height: 1.375rem;
    }

    .headLogin {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 7.5rem;
        width: 75rem;
    }

    .headLogin img {
        width: 13.25rem;
    }

    .headLogin a {
        background-image: linear-gradient(90deg, #3272F4, #509DFF);
        box-shadow: 0px 2px 10px 0px rgba(51, 116, 244, 0.72);
        color: #fff;
        text-align: center;
        height: 3.25rem;
        width: 8.75rem;
        line-height: 3.25rem;
        font-size: 1.25rem;
        border-radius: 1.625rem;
    }

    .loginFormBox {
        display: flex;
        justify-content: space-between;
        width: 1360px;
        position: relative;
        z-index: 10;
        height: 100%;
        padding: 5rem 0 5.625rem 0;
        box-sizing: border-box;
    }

    .loginLeft {
        display: flex;
        flex-direction: column;
    }

    .loginLogo {
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        color: #22AC38;
    }

    .loginLogo>img {
        width: 2.625rem;
    }

    .loginLogo>span {
        margin-left: 1rem;
    }

    .loginLeftText {
        font-size: 1.875rem;
        font-weight: 400;
        color: #333;
        line-height: 1.875rem;
        margin-top: 2.5rem;
    }

    .loginLeft>a {
        width: 16rem;
        height: 3.5rem;
        font-size: 1.375rem;
        color: #000000;
        font-weight: 400;
        line-height: 3.375rem;
        box-sizing: border-box;
        border: 1px solid #cccccc;
        border-radius: .25rem;
        margin-top: 1rem;
    }

    .loginTitle {
        font-weight: 300;
        font-size: 1.5rem;
        color: #333333;
        line-height: 1.5rem;
    }

    .loginRight {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .uiForm {
        background-color: #fff;
        box-shadow: 0 .25rem 1.25rem 0 rgba(35, 35, 35, 0.17);
        width: 32.75rem;
        border-radius: 1.25rem;
        margin-top: 1.75rem;
        padding: 3rem 0 3rem 0;
        box-sizing: border-box;
        position: relative;
    }

    .formTitle {
        text-align: center;
        color: #333333;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2rem;
    }

    .contentRight {
        padding: 0 3.625rem;
        padding-bottom: 3rem;
    }

    .userMessage {
        padding-top: 2.25rem;
    }

    .userMessage .keyInput {
        border: 1px solid #cccccc;
        text-align: left;
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1rem;
        height: 3.75rem;
        line-height: 3.75rem;
        margin-top: .75rem;
        padding-left: 1.5rem;
        border-radius: .5rem;
        box-sizing: border-box;
    }

    .formInput {
        width: 0;
        flex: 1;
    }

    .userMessage p img {
        vertical-align: middle;
        width: 1.5rem;
    }

    .userMessage p>img+span {
        padding-bottom: 0;
        margin-right: 0;
    }

    .userMessage p input[type="text"],
    .userMessage p input[type="password"] {
        border: none;
        outline: 0;
        vertical-align: middle;
        font-size: 1.125rem;
        color: #333;
        padding-left: 1rem;
        width: 100%;
    }

    .userMessage p input[type="text"]::-webkit-input-placeholder,
    .userMessage p input[type="password"]::-webkit-input-placeholder {
        font-size: 1.5rem;
        font-weight: 300;
        color: #ccc;
    }

    .userMessage p input[type="text"]::-moz-placeholder,
    .userMessage p input[type="password"]::-moz-placeholder {
        font-size: 1.5rem;
        font-weight: 300;
        color: #ccc;
    }

    .userMessage p input[type="text"]:-moz-placeholder,
    .userMessage p input[type="password"]:-moz-placeholder {
        font-size: 1.5rem;
        font-weight: 300;
        color: #ccc;
    }

    .userMessage p input[type="text"]:-ms-input-placeholder,
    .userMessage p input[type="password"]:-ms-input-placeholder {
        font-size: 1.5rem;
        font-weight: 300;
        color: #ccc;
    }

    .remember {
        padding-left: .25rem !important;
        margin-top: 0 !important;
        color: #ADACAC !important;
        border-bottom: 0 !important;
        text-align: left;
        padding-top: 1rem;
        display: flex;
        align-items: center;
        font-size: .875rem;
    }

    .remember>input {
        width: 1rem;
        height: 1rem;
    }

    .remember>span {
        display: none;
    }

    .remember>.checkbox {
        display: block;
        width: 1rem;
        height: 1rem;
        box-sizing: border-box;
        border: 1px solid #ADACAC;
        border-radius: .18rem;
    }

    .remember>.checkbox+input {
        width: 0;
        height: 0;
    }

    .remember>label {
        margin-left: .5rem;
    }

    .userStatus {
        padding-top: 2rem;
    }

    .userStatus button {
        width: 100%;
        background-color: #008738;
        color: #fff;
        border: none;
        outline: none;
        height: 3.5rem;
        line-height: 3.5rem;
        border-radius: .5rem;
        font-size: 1.25rem;
    }

    .userStatus button:hover {
        border: none;
    }

    p[role="pc"] {
        display: flex;
        align-items: center;
        color: #666666;
        padding-left: .25rem;
        margin: 1rem 0;
        font-size: 1rem;
        line-height: 1rem;
    }

    p[role="pc"]>label {
        padding-left: .25rem;
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #F8F8F8;
        height: 3rem;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }

    .bottom a {
        color: #0169AB;
        position: relative;
    }

    .bottom .afterRight:after {
        position: absolute;
        content: "";
        height: 1rem;
        width: .065rem;
        background-color: #ccc;
        top: 50%;
        transform: translateY(-50%);
        right: -2.25rem;
    }

    .chooseUser {
        font-size: 1rem;
        display: inline-block;
        position: absolute;
        width: 3rem;
        height: 100%;
        top: 0;
        right: 0;
        background: url('https://www.diteng.site/public/images/crow-down1.png');
        background-size: 1.3125rem 1.3125rem;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
    }

    .showList {
        font-size: 1rem;
        background-image: url('https://www.diteng.site/public/images/crow-up1.png') !important;
        background-size: 1.3125rem 1.3125rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    .userList {
        height: 13rem;
        position: absolute;
        top: 3.25rem;
        left: -.035rem;
        width: 25.5rem;
        background: white;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        z-index: 22;
        filter: grayscale(50%);
        border: .065rem solid #cccccc;
        border-top: 0;
        overflow: auto;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }

    .userList::-webkit-scrollbar {
        width: 3px;
        /*对垂直流动条有效*/
        height: 7px;
    }

    /*定义滚动条的轨道颜色、内阴影及圆角*/
    .userList::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 3px;
    }

    /*定义滑块颜色、内阴影及圆角*/
    .userList::-webkit-scrollbar-thumb {
        border-radius: 7px;
        background-color: #c5c5c5;
    }

    /*定义两端按钮的样式*/
    .userList::-webkit-scrollbar-button {
        display: none;
    }

    /*定义右下角汇合处的样式*/
    .userList::-webkit-scrollbar-corner {
        display: none;
    }

    .userList li {
        position: relative;
        width: 100%;
        height: 3.25rem;
        line-height: 3.25rem;
        list-style: none;
        padding-left: 1.5rem;
        padding-right: .84375rem;
        box-sizing: border-box;
        overflow: hidden;
    }

    .userList li:after {
        content: "";
        position: absolute;
        left: 1.5rem;
        right: .84375rem;
        bottom: 0;
        height: 1px;
        background-color: #e6e6e6;
    }

    .userList li span {
        display: inline-block;
        width: 100%;
        height: 3.25rem;
        line-height: 3.25rem;
        color: black;
        padding-left: 2.5rem;
        font-size: 1.125rem;
        box-sizing: border-box;
    }

    .userList li .remove {
        position: absolute;
        display: inline-block;
        width: 3rem;
        height: 3.25rem;
        top: 0;
        right: 0;
        background: url('https://www.diteng.site/public/images/remove.png');
        background-size: .8rem .8rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    .showList img {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        /* Internet Explorer */
        -moz-transform: rotate(180deg);
        /* Firefox */
        -webkit-transform: rotate(180deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(180deg);
        /* Opera */
    }

    .sendCode {
        cursor: pointer;
        text-align: right;
        padding-right: .69rem;
    }

    .verify>span {
        width: 0;
        flex: 1;
    }

    .status {
        width: 100%;
        min-height: 5.625rem;
        background: #ffffff;
        padding: 1.25rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        z-index: 100;
        overflow: hidden;
        font-size: .875rem;
    }

    .status div {
        padding: 0 !important;
    }

    .status a {
        color: #464444;
    }

    .otherLinks {
        display: flex;
        align-items: center;
    }

    .otherLinks a {
        margin: 0 .875rem;
        position: relative;
    }

    .otherLinks a:hover {
        color: #0169ab;
    }

    .otherLinks>a:not(:last-child)::after {
        content: "";
        position: absolute;
        height: .75rem;
        right: -.875rem;
        width: 1px;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #ccc;
    }

    .otherLinks>a:last-child {
        margin-right: 0;
    }

    .loginMsg {
        margin-top: .91rem;
        line-height: 1.45em;
        color: #ff4545;
    }
}

@media screen and (max-width: 1500px) and (min-width: 768px) {
    .loginFormBox {
        width: 1200px;
        padding: 3.5rem 0 4rem 0;
    }

    .loginLogo {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #22AC38;
    }

    .loginLogo>img {
        width: 2rem;
    }

    .loginLogo>span {
        margin-left: .75rem;
    }

    .loginLeftText {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-top: 1.5rem;
    }

    .loginLeft>a {
        width: 14rem;
        height: 3rem;
        font-size: 1.25rem;
        line-height: 2.875rem;
        margin-top: .75rem;
    }

    .uiForm {
        width: 29.25rem;
        border-radius: 1rem;
        margin-top: 1.5rem;
        padding: 2.5rem 0 2.5rem 0;
    }

    .formTitle {
        font-size: 1.75rem;
        line-height: 1.75rem;
    }

    .userMessage .keyInput {
        font-size: 1rem;
        height: 3.5rem;
        line-height: 3.5rem;
    }

    .userMessage p img {
        width: 1.375rem;
    }

    .userList {
        height: 13rem;
        top: 3rem;
        left: -.035rem;
        width: 22rem;
    }

    .userList li {
        position: relative;
        width: 100%;
        height: 3.25rem;
        line-height: 3.25rem;
        list-style: none;
        padding-left: 1.5rem;
        padding-right: .84375rem;
        box-sizing: border-box;
        overflow: hidden;
    }

    .userList li:after {
        content: "";
        position: absolute;
        left: 1.5rem;
        right: .84375rem;
        bottom: 0;
        height: 1px;
        background-color: #e6e6e6;
    }

    .userList li span {
        height: 3rem;
        line-height: 3rem;
        padding-left: 2.375rem;
    }

    .status {
        min-height: 4.625rem;
    }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {

}

@media screen and (max-width: 1199px) {
    
}

@media screen and (max-width: 767px) {
    .main {
        height: 100vh;
        overflow: auto;
    }

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    li {
        list-style: none;
    }

    em,
    i {
        font-style: normal;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: 400;
    }

    html {
        color: #333333;
        font-size: 16px;
    }

    main {
        height: 100%;
    }

    main>article {
        padding: 0 !important;
    }

    input[placeholder],
    [placeholder],
    *[placeholder] {
        color: #333 !important;
    }

    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #D5D5D5 !important;
        font-size: 1rem;
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #D5D5D5 !important;
        font-size: 1rem;
    }

    input:-ms-input-placeholder {
        color: #D5D5D5 !important;
        font-size: 1rem;
    }

    input::-webkit-input-placeholder {
        color: #D5D5D5 !important;
        font-size: 1rem;
    }

    .mainBox {
        background-color: #fff;
        border-radius: 1.88rem 1.88rem 0 0;
    }

    .inputGroup {
        max-width: 20.2rem;
        width: 80%;
        height: 2rem;
        line-height: 2rem;
        margin: 0 auto 1.5625rem;
        border-radius: 3px;
        box-sizing: border-box;
        position: relative;
        border: 1px solid #ccc;
        padding-left: 2.625rem;
    }

    .noBottomMargin {
        margin-bottom: 0;
    }

    .inputGroup>span:first-of-type {
        padding-bottom: 0;
        margin-right: 0;
        display: inline-block;
    }

    .inputGroup>span:first-of-type>input {
        border: none;
        outline: none;
        height: 1.875rem;
        line-height: 1.875rem;
        vertical-align: top;
    }

    .inputGroup>span:first-of-type>input:hover {
        border: none;
    }

    .inputGroup input {
        width: 100%;
        outline: none;
        border: none;
        background: transparent;
        font-size: 1rem;
        padding: 0;
    }

    .inputGroup input:focus {
        border: none !important;
    }

    .inputGroup>img {
        position: absolute;
        top: 50%;
        left: .75rem;
        transform: translateY(-50%);
        width: 1.125rem;
        vertical-align: middle;
    }

    .chooseUser {
        display: inline-block;
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 0;
        right: 0;
        background: url('https://www.diteng.site/public/images/crow-down1.png');
        background-size: 1.2em 1.2em;
        background-repeat: no-repeat;
        background-position: center;
    }

    .showList {
        background: url('https://www.diteng.site/public/images/crow-up1.png');
        background-size: 1.2em 1.2em;
        background-repeat: no-repeat;
        background-position: center;
    }

    .userList {
        max-width: 20.2em;
        width: 100%;
        height: 10em;
        position: absolute;
        top: 2.7em;
        left: 0;
        background: #F7F7F7;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        z-index: 22;
        padding: 0 1em;
        overflow-y: auto;
        filter: grayscale(50%);
    }

    .userList::-webkit-scrollbar {
        width: 4px;
    }

    .userList::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .2);
    }

    .userList::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, .1);
    }

    .userList li {
        position: relative;
        width: 100%;
        height: 2.8em;
        line-height: 2.8em;
        list-style: none;
        border-bottom: 1px solid #e6e6e6;
    }

    .userList li span {
        display: inline-block;
        width: 80%;
        height: 2.8em;
        line-height: 2.8em;
        color: black;
    }

    .userList li:last-child {
        border: 0;
    }

    .userList li:first-child {
        border-bottom: 1px solid #e6e6e6;
    }

    .userList li .remove {
        position: absolute;
        display: inline-block;
        width: 2.8em;
        height: 2.8em;
        top: 0;
        right: 0;
        background: url('https://www.diteng.site/public/images/remove.png');
        background-size: 0.8em 0.8em;
        background-repeat: no-repeat;
        background-position: 80% center;
    }

    .passWord:before {
        background: url('https://www.diteng.site/public/images/pwd2.png');
        background-size: auto 1.13rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    .verify {
        margin-bottom: 0;
    }

    .verify:before {
        background: url('https://www.diteng.site/public/images/verify.png');
        background-size: auto 1.13rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    .operationLogin {
        max-width: 20.2rem;
        margin: 0 auto;
        width: 80%;
        padding-top: .5625rem;
        text-align: left;
        font-size: .75rem;
        line-height: 1.125rem;
        font-weight: 400;
    }

    .operationLogin>input {
        vertical-align: top;
        width: 1.125rem;
        height: 1.125rem;
    }

    .operationLogin>label {
        padding-left: .5rem;
        color: #ADACAC;
    }

    .operationLogin>a {
        float: right;
        color: #0169AB;
    }

    .protocolBox {
        display: block;
    }

    .protocol {
        color: #999;
        height: 1.125rem;
        line-height: 1.125rem;
    }

    .protocol>input {
        width: 1.125rem;
        height: 1.125rem;
        vertical-align: top;
    }

    .protocol>label {
        padding-left: .5rem;
        display: inline-block;
        vertical-align: top;
    }

    .sendCode {
        position: absolute;
        right: 0.5rem;
        background-color: transparent;
        color: black;
        font-size: .85rem;
        top: 50%;
        transform: translateY(-50%);
        top: 50%;
    }

    .btnSubmit {
        max-width: 20.2rem;
        margin: 0 auto;
        width: 80%;
        display: block;
        height: 2rem;
        line-height: 2rem;
        margin: 0 auto;
        background-color: #008738;
        text-align: center;
        font-size: 1rem;
        color: #fff !important;
        outline: none;
        border: none;
        border-radius: 3px;
        margin-top: 1rem;
    }

    .customService {
        width: 100%;
        position: relative;
        padding-top: .75rem;
    }

    .customService>div {
        max-width: 20.2rem;
        margin: 0 auto;
        width: 80%;
        text-align: left;
        font-size: .75rem;
        line-height: 1.125rem;
        font-weight: 400;
    }

    .customService h3 {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2.875rem;
        background-color: #ECEDF1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .customService h3>a {
        color: #0169AB;
        font-size: .75rem;
    }

    .customService .protocol a {
        color: #0169AB;
    }

    .upt {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .upt>div {
        width: 20em;
        height: 15em;
        position: fixed;
        top: -10em;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background: #ffffff;
        color: #000000;
        text-align: center;
        border-radius: 0.5em;
    }

    .upt>div img {
        position: absolute;
        right: 0;
        width: 1em;
        display: none;
        margin: 0.6em;
    }

    .forgetPassword {
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 1em;
    }

    .option {
        padding: 1.5em;
        overflow: hidden;
    }

    .option span {
        display: inline-block;
        padding: 0.4em 0;
        width: 5em;
        border-radius: 0.3em;
    }

    .true {
        border: 1px solid #BBBBBB;
        float: left;
    }

    .forget {
        border: 1px solid #E82B2B;
        float: right;
    }

    .logoBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 4.1875rem;
    }

    .logoBox>img {
        width: 3.5rem;
    }

    .logoBox>h3 {
        padding-top: 1.0625rem;
        font-size: 1.1875rem;
        line-height: 1.1875rem;
        color: #333333;
        font-weight: 300;
        padding-bottom: 4.5rem;
    }
}