.contactList>li {
    display: flex;
    align-items: center;
}

.contactImage {
    text-align: center;
    background-color: #0089FF;
    color: #fff;
}

.contactImage+div {
    width: 0;
    flex: 1;
    position: relative;
}

.contactTitle {
    display: flex;
    align-items: center;
}

.contactTitle>span:first-child {
    width: 0;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    font-weight: 500;
}

.contactTitle>span:nth-child(2) {
    color: #999999;
}

.contactTitle+div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999999;
}

.messageBox {
    width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-left: 1px solid #d6d6d6;
}

.messageTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    color: #000000;
}

.messageList {
    height: 0;
    flex: 1;
    overflow: auto;
}

.replyBox {
    border-top: 1px solid #e7e7e7;
    margin-bottom: 0 !important;
}

.replyBox>textarea {
    width: 100%;
    border: none;
    resize: none;
    color: #000000;
    outline: none;
}

.replyBox>div {
    display: flex;
    justify-content: flex-end;
}

.replyBox>div>button {
    border: 0;
    outline: none;
    background-color: #e9e9e9;
    text-align: center;
    color: #07c160;
}

.rightBox {
    width: 360px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-left: 1px solid #d6d6d6;
    position: relative;
}

.suerInfoBox,
.quicReply {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
}

.suerInfoBox {
    top: 0;
    bottom: 60%;
    border-bottom: 1px solid #EBEBEB;
}

.quicReply {
    top: 40%;
    bottom: 0;
}

.rightBoxTitle {
    padding:0 20px;
    display: flex;
    align-items: center;
    height: 56px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    justify-content: space-between;
}

.editBtn{
    cursor: pointer;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    color: #333333;
}

.suerInfoBox>div,
.quicReply>div {
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
}

.userInfoItem {
    height: 34px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    color: #333333;
}

.remarkBox {
    padding: 0 15px;
}

.remarkBox>p {
    display: flex;
    justify-content: space-between;
    height: 36px;
    align-items: center;
}

.remarkBox>p button {
    border-radius: 5px;
    width: 66px;
    height: 30px;
}

.remarkClass {
    width: 329px;
    height: 95px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    resize: none;
    color: #000000;
    outline: none;
    padding: 5px;
    margin-top: 14px;
}

.quicReplyItem {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    justify-content: space-between;
}

.disEvents {
    pointer-events: none !important;
    color: #c1c7c4 !important;
}

.msgTime {
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 12px;
}
.historicalRecordsBox{
    text-align: center;
}
.historicalRecordsBtn{
    text-align: center;
    width: 42px;
    height: 26px;
    border-radius: 4px;
    line-height: 26px;
    border: 1px solid #EBEBEB;
    color: #666;
    font-size: 12px;
    padding: 2px 5px;
    background: #f2f2f2;
    cursor: pointer;
}

.delQuicReplyItemBtn{
    border: 1px solid #eee;
    background-color: #f95d5d;
    width: 38px;
    color: #ffffff;
    font-size: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show {
    display: block;
}

.hide {
    display: none !important;
}

@media screen and (min-width: 768px) {
    .main {
        height: 0;
        flex: 1;
        display: flex;
        line-height: 1em;
    }

    .contactList {
        width: 224px;
        background-color: #dedee0;
        height: 100%;
        overflow: auto;
    }

    .contactList>li {
        padding: 12px;
    }

    .selectContact {
        background-color: #c3c3c4;
    }

    .contactImage {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 6px;
        margin-right: 10px;
        font-size: 14px;

    }

    .UnReadNum {
        position: absolute;
        bottom: -2px;
        right: 0;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: #f00;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }

    .contactTitle {
        line-height: 14px;
    }

    .contactTitle>span:first-child {
        font-size: 14px;
        line-height: 14px;
    }

    .contactTitle>span:nth-child(2) {
        font-size: .75rem;
    }

    .contactTitle+div {
        font-size: 12px;
        line-height: 12px;
        padding-top: 10px;
        padding-right: 15px;
    }

    .messageTitle {
        height: 56px;
        padding-left: 24px;
        font-size: 18px;
    }

    .messageList {
        padding: 6px 0;
    }

    .messageList>li {
        padding: 6px 24px;
    }

    .replyBox {
        padding: 24px 32px 0 32px;
    }

    .replyBox>textarea {
        height: 48px;
        font-size: 14px;
        line-height: 24px;
    }

    .replyBox>div {
        padding: 12px 0;
    }

    .replyBox>div>button {
        width: 100px;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        border-radius: 4px;
    }
}

@media screen and (max-width: 767px) {
    .contactList>li {
        position: relative;
    }

    .contactList>li::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 4.375rem;
        right: 0;
        height: 1px;
        background-color: #e5e5e5;
    }

    .contactList {
        background-color: #fff;
    }

    .selectContact {
        background-color: #ededed;
    }

    .contactImage {
        width: 2.75rem;
        height: 2.75rem;
        line-height: 2.75rem;
        border-radius: .25rem;
        margin: .75rem .75rem .75rem .875rem;
        font-size: .875rem;
    }

    .contactImage+div {
        padding-right: .75rem;
        position: relative;
    }

    .UnReadNum {
        position: absolute;
        bottom: -2px;
        right: .75rem;
        border-radius: 50%;
        width: 1.125rem;
        height: 1.125rem;
        background-color: #f00;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
    }

    .contactTitle>span:first-child {
        font-size: .875rem;
        line-height: .875rem;
    }

    .contactTitle {
        line-height: .875rem;
    }

    .contactTitle>span:nth-child(2) {
        font-size: .75rem;
    }

    .contactTitle+div {
        font-size: .75rem;
        line-height: .75rem;
        padding-top: .625rem;
        padding-right: 0.9375rem;
    }

    .messageTitle {
        height: 3.5rem;
        padding-left: 1.5rem;
        font-size: 1.125rem;
    }

    .messageList {
        padding: .375rem 0;
    }

    .messageList>li {
        padding: .375rem 1rem;
    }

    .replyBox {
        height:2.75rem;
        display: flex;
        align-items: center;
        background-color: #F3F3F3 !important;
        padding:0.5rem 0.5625rem 0.375rem;
    }

    .replyBox>textarea {
        width:60%;
        height: 1.875rem;
        font-size: 0.875rem;
        line-height: 1.875rem;
        background-color: #fff;
        border-radius: 4px;
        padding-left: 0.3125rem;
    }

    .replyBox>div {
        width:40%;
        padding:0;
    }

    .replyBox>div>button {
        width: 5rem;
        height: 2rem;
        line-height: 2rem;
        font-size: .875rem;
        border-radius: .25rem;
    }

    .details {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .details>ul {
        height: 0;
        flex: 1;
        overflow: auto;
    }

    .quicReplyBtn {
        min-width: 1.75rem !important;
        width:1.875rem !important;
        margin-right: 0.625rem;
        border-radius: 50% !important;
    }

    .quicReplyBox {
        position: relative;
        width: 0;
    }

    .quicReplyBox>ul {
        position: fixed;
        left: 50%;
        bottom: 3.125rem;
        width: 17.5rem;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgb(200 200 200 / 80%);
        font-size: 0.75rem;
        transform: translate(-50%,0);
    }

}