.main {
    display: flex;
}

.imageBox {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    background-color: #0089FF;
    font-size: 14px;
    color: #fff;
    margin-right: 10px;
    flex-shrink: 0;
}

.message {
    max-width: 20em;
    word-break: break-all;
}

.message>div:first-of-type {
    font-size: 14px;
    color: #000;
}

.defaultMessage {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 3px;
}


.msgRight{
    flex-direction: row-reverse !important;
}

.msgRight .imageBox, .msgRight .message{
    margin-right: 0 !important;
    margin-left: 10px !important;
}
.msgRight .message{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.msgRight .defaultMessage{
    background-color: #d1e7ff;
}