.main {
    display: flex;
    flex-direction: column;
}

.personBox {
    display: flex;
    align-items: flex-start;
    padding-bottom: 6px;
}

.person {
    font-size: 14px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 14px;
}

.person>div:nth-child(2) {
    color: #999;
}

.imageBox {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #0755aa;
    font-size: 14px;
    color: #fff;
    margin-right: 10px;
    flex-shrink: 0;
}

.message {
    word-break: break-all;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.defaultMessage {
    padding: 9px 12px;
    font-size: 14px;
    line-height: 20px;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-top: 3px;
    text-align: left;
}

.defaultMessage table th {
    position: relative;
}

.msgRight .person {
    align-items: flex-end;
}

.msgRight .personBox {
    flex-direction: row-reverse;
}

.msgRight .imageBox, .msgRight .message{
    margin-right: 0 !important;
    margin-left: 10px !important;
}
.msgRight .message{
    text-align: right;
    align-items: flex-end;
}
.msgRight .defaultMessage{
    background-color: #d1e7ff;
}

.msgStatus{
    color:#aaa;
    font-size: 12px;
}

.specialMsg{
    text-align: right;
    padding: 15px 0 5px;
}

.specialMsg > button{
    margin-left: 1.25rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    font-weight: 400;
    font-size: 0.75rem;
    border-radius: 4px;
    height:1.875rem;
    line-height:1.875rem;
}
.rejectBtn{
    background: #FFFFFF;
    border: 1px solid #999999;
    color:#333333;
}

.noAgreeBtn{
    background-color: #e55050;
}

.disEvents {
    pointer-events: none !important;
    color: #c1c7c4 !important;
    background-color: #d9d9d9!important;
}