.main {
    display: flex;
}

.imageBox {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    background-color: #0089FF;
    font-size: 14px;
    color: #fff;
    margin-right: 10px;
    flex-shrink: 0;
}

.message {
    max-width: 20em;
    word-break: break-all;
}

.message>div:first-of-type {
    font-size: 14px;
    color: #000;
}

.defaultMessage {
    padding: 9px 12px;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 3px;
    text-align: left;
}


.msgRight{
    flex-direction: row-reverse !important;
}

.msgRight .imageBox, .msgRight .message{
    margin-right: 0 !important;
    margin-left: 10px !important;
}
.msgRight .message{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.msgRight .defaultMessage{
    background-color: #d1e7ff;
}

.msgStatus{
    color:#aaa;
    font-size: 12px;
}

.specialMsg{
    text-align: right;
    padding: 15px 0 5px;
}
.specialMsg > button{
    margin-left: 1.25rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    font-weight: 400;
    font-size: 0.75rem;
    border-radius: 4px;
    height:1.875rem;
    line-height:1.875rem;
}
.rejectBtn{
    background: #FFFFFF;
    border: 1px solid #999999;
    color:#333333;
}

.noAgreeBtn{
    background-color: #e55050;
}