.main {
    background-color: #fff;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
}

.main input[type='text'] {
    min-width: 13rem;
}

.submit {
    margin: 1.5rem 0;
    width: 4.5rem;
    line-height: 1.55rem;
    color: #409eff;
    background-color: #ecf5ff;
    border: 1px solid #b3d8ff;
    border-radius: .29rem;
    box-sizing: content-box;
    text-align: center;
    cursor: pointer;
}