.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search {
    padding: .5rem;
    background-color: #fff;
}

.search>div,
.search .left>div {
    display: inline-block;
    padding: 0.3rem;
}

.search .left {
    clear: both;
    display: inline-block;
    width: calc(100% - 5rem);
    text-align: left;
}

.search .left>span {
    padding-right: 1rem;
}

.search input[type="checkbox"] {
    height: auto;
    width: auto;
    min-width: auto;
}

.search input[type="submit"] {
    background-color: #3273F4;
    color: #fff;
    cursor: pointer;
}

.main .dbgrid tr[id^='tr'] td {
    padding: 0;
}

.main .dbgrid tr td {
    line-height: 1.2rem;
}

.main .dbgrid tr td>span {
    padding-right: 0;
}

.main article[role="document"] {
    margin-bottom: 0;
}

.operction button {
    background-color: transparent;
    border: 1px solid #b3b4b6;
    background-color: #f4f4f4;
    margin-right: .5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    color: black;
    padding: 0 .5rem;
    border-radius: .25rem;
}

@media only screen and (min-width: 768px) {
    .search .left>span {
        display: inline-block;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 767px) {
    body {
        min-width: auto;
    }
    article[role="document"] {
        min-width: auto;
        padding-left: 0;
        height: 100%;
    }

    article[role="document"] section[role="content"] {
        width: 100%;
        margin: 0;
        overflow: auto;
        position: relative;
    }
}