#fullContent {
    min-height: 100% !important;
}

.mcIntroduction,
.li_3,
.mcPieBox1,
.mcPieBox2,
.mcPieBox3,
.mcMapBox,
.mcLinkBox,
.rightSiteEchat1Box,
.mcBarBox2,
.mcLinkBox1 {
    background-color: #fff;
    border-radius: .28rem;
    padding: 16px;
    margin-bottom: 16px;
}

.mcIntroduction>p {
    line-height: 24px;
    padding-top: 5px;
    font-size: 16px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

.mcMain {
    flex: 1;
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
}

.top_list {
    display: flex;
    align-items: center;
}

.mcTitle {
    font-size: 14px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #333333;
    line-height: 14px;
}

.li_3 {
    flex: 1;
    margin-right: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.li_3:last-child {
    margin-right: 0;
}

.topTitle {
    font-size: 14px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #333333;
    margin-bottom: 12px;
}

.topInfo {
    font-size: 22px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #333333;
}

.topInfo>span {
    font-size: 14px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #666666;
}

.contentEcharts {
    display: flex;
    flex: 1;
}

.leftSiteEcharts,
.rIghtSiteEcharts {
    width: 264px;
    display: flex;
    flex-direction: column;
}

.mcPieBox1,
.mcPieBox2,
.mcPieBox3,
.rightSiteEchat1,
.mcLinkBox1,
.mcBarBox2 {
    height: 144px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.centerSiteEcharts {
    width: 500px;
    margin: 0 10px;
}

.rightSiteEchat1 {
    display: flex;
}

.rightSiteEchat1Box {
    margin-bottom: 0;
    margin-right: 10px;
    flex: 1;
}

.mcMapBox {
    height: 298px;
    margin-bottom: 10px;
}

.mcMap {
    height: 100%;
}

.mcLinkBox {
    height: 144px;
}

.leftScrollList {
    margin: 10px 0 0;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.leftScrollListItem {
    display: flex;
    align-items: center;
    height: 26px;
    background: #EFF6FE;
    line-height: 26px;
    margin-bottom: 6px;
}

.FrmSpectaculars3MCPie2,
.FrmSpectaculars3MCBar1,
.mcLink,
.mcLink2,
.rightSiteEchat1BoxPie1,
.mcBar2,
.mcLink1 {
    height: 100px;
}

.colorSkin {
    font-size: 14px;
    color: #308DF2;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
}

.FrmSpectaculars3LeftTop1 {}

.leftTop1Item {
    float: left;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 8px 6px;
    box-sizing: border-box;
    border: 1px solid #000;
}

.leftTop1Item:nth-child(1),
.leftTop1Item:nth-child(2) {
    border: none;
}

.leftTop1Item:nth-child(2) {
    border-left: 1px solid #000;
    padding-left: 16px;
}

.leftTop1Item:nth-child(3) {
    border: none;
    border-top: 1px solid #000;
}

.leftTop1Item:nth-child(4) {
    border: none;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding-left: 16px;
}

.leftTop1ItemInfo {
    display: flex;
    font-size: 14px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    flex-direction: column;
    padding-left: 6px;
    justify-content: center;
}

.leftTop1ItemInfo>div {
    height: 18px;
    line-height: 18px;
}

.leftTop1ItemInfo>div:first-child {
    color: #666666;
}

.leftTop1ItemInfo>div:last-child {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .mc {
        font-size: 14px;
        color: #333;
        line-height: 1em;
        font-weight: 400;
        height: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .mcIntroduction {
        margin-bottom: 10px;
    }

    .mcPieChart {
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px) {
    .mcMain {
        margin-left: 12px;
        margin-right: 12px;
    }

    .top_list {
        align-items: stretch;
        flex-direction: column;
    }

    .li_3 {
        flex: auto;
        margin-right: 0;
        height: 78px;
    }

    .topTitle {
        margin-bottom: 0;
    }

    .li_3>div {
        line-height: 1.2;
    }

    .contentEcharts {
        flex-direction: column;
    }

    .topInfo {
        margin-top: 4px;
        height: 29px;
        line-height: 29px;
    }

    .leftSiteEcharts,
    .rIghtSiteEcharts {
        width: 100%;
    }

    .mcPieBox1,
    .mcPieBox2,
    .mcPieBox3,
    .rightSiteEchat1,
    .mcLinkBox,
    .mcBarBox2,
    .mcLinkBox1 {
        height: 208px;
    }

    .FrmSpectaculars3MCPie2,
    .FrmSpectaculars3MCBar1,
    .mcLink,
    .mcLink2,
    .rightSiteEchat1BoxPie1,
    .mcBar2,
    .mcLink1 {
        height: 180px;
    }

    .centerSiteEcharts {
        display: none;
    }

    .FrmSpectaculars3LeftTop1 {
        margin-top: 10px;
    }
}