#fullContent {
    min-height: 100% !important;
}

.mc {
    font-size: 14px;
    color: #333;
    line-height: 1em;
    font-weight: 400;
    height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.mcIntroduction,
.li_3,
.leftBox1,
.leftBox2,
.leftBox3,
.centerBox1,
.centerBox2,
.rightBox2,
.rightBox3 {
    background-color: #fff;
    border-radius: .28rem;
    padding: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.mcIntroduction>p {
    height: 100%;
    line-height: 37px;
    font-size: 16px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

.mcMain {
    flex: 1;
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    height: 0;
}

.top_list {
    display: flex;
    align-items: center;
}

.mcTitle {
    font-size: 14px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #333333;
    line-height: 14px;
}

.li_3 {
    flex: 1;
    margin-right: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.li_3:last-child {
    margin-right: 0;
}

.topTitle {
    font-size: 14px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #333333;
    margin-bottom: 12px;
}

.topInfo {
    font-size: 22px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #333333;
}

.topInfo>span {
    font-size: 14px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #666666;
}

.contentEcharts {
    display: flex;
    flex: 1;
}

.leftSiteEcharts,
.rIghtSiteEcharts {
    width: 20%;
    display: flex;
    flex-direction: column;
    min-width: 264px;
}

.leftBox1,
.leftBox2,
.leftBox3,
.rightBox3,
.centerBox2,
.rightBox1,
.rightBox2 {
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    height: 32.3%;
}


.srcollListContent {
    margin-bottom: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.centerSiteEcharts {
    width: 60%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.rightBox1 {
    flex-direction: row;
}

.rightBox1Box {
    border-radius: .28rem;
    padding: 16px;
    background-color: #fff;
    margin-right: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.rightBox1Box:last-child {
    margin-right: 0;
}

.rightBox1BoxPie1,
.rightBox1BoxPie2 {
    flex: 1;
}

.centerBox1 {
    margin-bottom: 10px;
    height: calc(100% - 32.3% - 10px);
}

.mcMap {
    height: 100%;
}

.leftBox3,
.centerBox2,
.rightBox3 {
    margin-bottom: 0;
}

.rightBox3 {
    overflow: auto;
}

.srcollListMain {
    margin: 10px 0 0;
}

.srcollListMain>li {
    height: 19px;
    line-height: 19px;
    margin-bottom: 8px;
}

.srcollListMain>li:last-child {
    margin-bottom: 0;
}

.leftScrollList {
    margin: 10px 0 0;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.leftScrollListItem {
    display: flex;
    align-items: center;
    height: 26px;
    background: #EFF6FE;
    line-height: 26px;
    margin-bottom: 6px;
}

.FrmTaurusMCPie1,
.FrmTaurusMCPie2,
.FrmTaurusMCPie3,
.mcLink,
.mcLink2 {
    flex: 1;
}

.colorSkin {
    font-size: 14px;
    color: #308DF2;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
}

.rSkin {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #308DF2;
    transform: translateY(-1px);
    margin-right: 5px;
}

.mcIntroduction {
    margin-bottom: 10px;
    padding: 0;
    height: 37px;
}

@media screen and (min-width: 768px) and (max-width: 1366px) {

    .mcPieChart {
        margin-top: 10px;
    }

    .centerBox1 {
        margin-bottom: 10px;
        height: calc(100% - 32.3% - 6px);
    }
}

@media screen and (max-width: 767px) {
    .mc {
        overflow: inherit;
    }

    .mcMain {
        margin-left: 12px;
        margin-right: 12px;
    }

    .top_list {
        align-items: stretch;
        flex-direction: column;
    }

    .li_3 {
        flex: auto;
        margin-right: 0;
        height: 78px;
    }

    .topTitle {
        margin-bottom: 0;
    }

    .li_3>div {
        line-height: 1.2;
    }

    .contentEcharts {
        flex-direction: column;
    }

    .leftSiteEcharts,
    .rIghtSiteEcharts {
        width: 100%;
    }

    .leftBox1,
    .leftBox2,
    .leftBox3,
    .rightBox1,
    .centerBox2 {
        height: 160px;
    }

    .rightBox2 {
        height: 208px;
    }

    .rightBox3 {
        height: 132px;
    }

    .FrmTaurusMCPie1,
    .FrmTaurusMCPie2,
    .FrmTaurusMCPie3,
    .mcLink,
    .rightBox1BoxPie1,
    .rightBox1BoxPie2 {
        height: 130px;
    }

    .mcLink2 {
        height: 180px;
    }

    .srcollListMain>li {
        height: 19px;
        line-height: 19px;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .rSkin {
        transform: inherit;
    }

    .srcollListMain {
        margin: 12px 0 0;
    }

    .centerSiteEcharts {
        display: none;
    }

    .topInfo {
        margin-top: 4px;
        height: 29px;
        line-height: 29px;
    }

    .leftSiteEcharts {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .leftBox1,
    .leftBox2,
    .rightBox1Box {
        width: calc(50% - 5px);
    }

    .leftBox1 {
        margin-right: 10px;
    }

    .leftBox3,
    .rightBox2 {
        width: 100%;
    }

    .leftBox3 {
        margin-bottom: 10px;
    }

    .rightBox3 {
        margin-bottom: 10px;
    }
}