.mcIntroduction {
    background-color: #fff;
    border-radius: .28rem;
    padding: 16px;
    margin-bottom: 16px;
}

.mcIntroduction>p {
    line-height: 24px;
    padding-top: 5px;
}

.mcMain {
    flex: 1;
    display: flex;
    padding-bottom: 16px;
}

.mcFlowChartBox,
.mcTrendChart {
    background-color: #fff;
    border-radius: .28rem;
    padding: 16px;
}

.mcFlowChartBox {
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mcFlowChartMain {
    height: 0;
    flex: 1;
    position: relative;
}

.mcFlowChart {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.mcFlowBox {
    position: relative;
    z-index: 10;
}

.mcCharts {
    width: 0;
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.mcTrendChart {
    height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mcPieChart {
    margin-top: 16px;
    height: 0;
    flex: 1;
    display: flex;
}

.FrmTaurusMCLine {
    padding: 0px 44px 0 44px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxConten {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.boxConten>p {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}

.boxConten>span {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
}

.register {
    background: url("../image/register.png") top center no-repeat;
    padding-top: 40px;
    background-size: 40px 40px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}

.receipt {
    background: url("../image/receipt.png") top center no-repeat;
    padding-top: 40px;
    background-size: 40px 40px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}

.control {
    background: url("../image/control.png") top center no-repeat;
    padding-top: 40px;
    background-size: 40px 40px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}

.other {
    background: url("../image/other.png") top center no-repeat;
    padding-top: 40px;
    background-size: 40px 40px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}

.register_disable {
    background: url("../image/register_disable.png") top center no-repeat;
    padding-top: 40px;
    background-size: 40px 40px;
    position: absolute;
    text-align: center;
}

.receipt_disable {
    background: url("../image/receipt_disable.png") top center no-repeat;
    padding-top: 40px;
    background-size: 40px 40px;
    position: absolute;
    text-align: center;
}

.control_disable {
    background: url("../image/control_disable.png") top center no-repeat;
    padding-top: 40px;
    background-size: 40px 40px;
    position: absolute;
    text-align: center;
}

.other_disable {
    background: url("../image/other_disable.png") top center no-repeat;
    padding-top: 40px;
    background-size: 40px 40px;
    position: absolute;
    text-align: center;
}

.register>span,
.receipt>span,
.control>span,
.other>span,
.register_disable>span,
.receipt_disable>span,
.control_disable>span,
.other_disable>span {
    width: 5em;
    text-align: center;
    display: block;
}

.register:hover {
    background-image: url("../image/register_hover.png");
}

.receipt:hover {
    background-image: url("../image/receipt_hover.png");
}

.control:hover {
    background-image: url("../image/control_hover.png");
}

.other:hover {
    background-image: url("../image/other_hover.png");
}

.mcTitle {
    font-weight: bold;
}

.mcPieBox1,
.mcPieBox2 {
    width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #fff;
    border-radius: .28rem;
}

.mcPieBox2 {
    margin-left: 16px;
}

.FrmTaurusMCPie1,
.FrmTaurusMCPie2 {
    flex: 1;
}

.stock1 {
    left: 75px;
    top: 15px;
}

.stock2 {
    left: 183px;
    top: 15px;
}

.stock3 {
    left: 75px;
    top: 100px;
}

.stock4 {
    left: 183px;
    top: 100px;
}

.stock5 {
    left: 75px;
    top: 185px;
}

.stock6 {
    left: 183px;
    top: 185px;
}

.stock7 {
    left: 75px;
    top: 270px;
}

.stock8 {
    left: 183px;
    top: 270px;
}

.stock9 {
    left: 75px;
    top: 355px;
}

@media screen and (min-width: 768px) {
    .mc {
        font-size: 14px;
        color: #333;
        line-height: 1em;
        font-weight: 400;
        height: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1366px) {
    .mcIntroduction {
        margin-bottom: 10px;
    }

    .mcPieChart {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .mcIntroduction {
        display: none;
    }

    .mcMain {
        margin:0.75rem;
        flex-wrap: wrap;
    }

    .mcFlowChartBox {
        height: 482px;
    }

    .register>span,
    .receipt>span,
    .control>span,
    .other>span,
    .register_disable>span,
    .receipt_disable>span,
    .control_disable>span,
    .other_disable>span {
        font-size: 14px;
        line-height: 14px;
    }

    .mcFlowChartBox {
        width: 100%;
        margin-bottom: 12px;
    }

    .mcFlowChartMain {
        width: 328px;
        margin: auto;
    }

    .mcCharts {
        width: 100%;
        margin: auto;
    }

    .FrmTaurusMCLine {
        height: 172px;
        flex: auto;
    }

    .mcPieChart {
        margin-top: 12px;
        flex-wrap: wrap;
    }

    .mcPieBox1 {
        width: 100%;
        flex: auto;
    }

    .mcPieBox2 {
        width: 100%;
        flex: auto;
        margin: 12px 0 0 0;
    }

    .FrmTaurusMCPie1,
    .FrmTaurusMCPie2 {
        height: 220px;
        flex: auto;
    }
}